* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 0px) {
  html body {
    background-color: #e6f2f3;
  }
  html body header div#bannerANDlogo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  html body header div#bannerANDlogo div#logoHolder {
    position: absolute;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: end;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgba(53, 113, 181, 0.75);
    padding: 1rem 0;
    z-index: 1;
    width: 100%;
  }
  html body header div#bannerANDlogo div#logoHolder img#logo {
    width: 10rem;
  }
  html body header div#bannerANDlogo img#banner {
    width: 200%;
  }
  html body header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2.5rem 0;
  }
  html body header nav ul {
    width: 17.5rem;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body header nav ul li {
    font-size: 1.25rem;
    font-weight: bolder;
  }
  html body header nav ul li:not(.decor) {
    cursor: pointer;
  }
  html body header nav ul li:not(.decor):hover {
    color: #0051ff;
  }
  html body header nav ul li:not(.decor):active {
    color: #7d32ff;
  }
  html body main div#pageLabel {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body main section#gallery {
    margin: 2.5rem 0;
  }
  html body main section#gallery div#grid {
    width: 20rem;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  html body main section#gallery div#grid article.imgHolder {
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    -webkit-transition: border-radius 0.75s;
    transition: border-radius 0.75s;
  }
  html body main section#gallery div#grid article.imgHolder div.imgOverlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(75%, rgba(0, 81, 255, 0.5)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(0, 81, 255, 0.5) 75%);
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  html body main section#gallery div#grid article.imgHolder div.imgOverlay h3 {
    margin-bottom: 1rem;
  }
  html body main section#gallery div#grid article.imgHolder img.tall {
    width: 100%;
  }
  html body main section#gallery div#grid article.imgHolder img.wide {
    height: 100%;
  }
  html body main section#gallery div#grid article.imgHolder:hover,
  html body main section#gallery div#grid article.imgHolder:active {
    border-radius: 5%;
  }
  html body main section#gallery div#grid article.imgHolder:hover div.imgOverlay,
  html body main section#gallery div#grid article.imgHolder:active div.imgOverlay {
    opacity: 1;
  }
  html body main section#gallery div#grid article.imgHolder:active div.imgOverlay {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(75%, rgba(75, 50, 255, 0.5)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(75, 50, 255, 0.5) 75%);
  }
  html body section#popUp {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(53, 113, 181, 0.75);
    overflow: scroll;
  }
  html body section#popUp div#side1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 2.5rem auto;
  }
  html body section#popUp div#side1 img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 2.5rem white;
            box-shadow: 0 0 2.5rem white;
  }
  html body section#popUp div#side1 img.tall {
    width: 75%;
  }
  html body section#popUp div#side1 img.wide {
    width: 90%;
  }
  html body section#popUp div#side2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 2.5rem auto;
  }
  html body section#popUp div#side2 div#infoSection {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 2.5rem white;
            box-shadow: 0 0 2.5rem white;
    border-radius: 10px;
    padding: 2.5rem;
  }
  html body section#popUp div#side2 div#infoSection p#descript {
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (min-width: 760px) {
  html body header div#bannerANDlogo {
    height: 25rem;
  }
  html body header div#bannerANDlogo img#banner {
    width: 200%;
    margin-top: 17.5vw;
  }
  html body header nav {
    margin: 2.5rem 0;
  }
  html body header nav ul {
    width: 25rem;
  }
  html body header nav ul li {
    font-size: 1.5rem;
  }
  html body header nav ul li:not(.decor) {
    cursor: pointer;
  }
  html body main section#gallery div#grid {
    width: 45rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  html body section#popUp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: initial;
  }
  html body section#popUp div#side1 {
    width: 50%;
    margin: 2.5rem auto;
  }
  html body section#popUp div#side1 img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  html body section#popUp div#side1 img.tall {
    width: 60%;
  }
  html body section#popUp div#side1 img.wide {
    width: 90%;
  }
  html body section#popUp div#side2 {
    width: 50%;
    margin: 2.5rem auto;
  }
  html body section#popUp div#side2 div#infoSection {
    width: 80%;
  }
  html body section#popUp div#side2 div#infoSection p#descript {
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (min-width: 1200px) {
  html body header div#bannerANDlogo {
    height: 35rem;
  }
  html body header div#bannerANDlogo div#logoHolder img#logo {
    width: 15rem;
  }
  html body header nav {
    margin: 2.5rem 0;
  }
  html body header nav ul {
    width: 40rem;
  }
  html body header nav ul li {
    font-size: 1.5rem;
  }
  html body header nav ul li:not(.decor) {
    cursor: pointer;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  html body main section#gallery div#grid {
    width: 80rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */