body {
  // background-color: red;
  min-height: 150vh;
}

main {
  padding-bottom: 100px;
}
header {
  display: flex;
  height: 5rem;
  top: 0;
  position: sticky;
  background-color: white;
  align-items: center;
  z-index: 2;
  h1 {
    font-size: 2rem;
    margin: 0 0 0 5%;
  }
  p {
    display: none;
  }
  div#hamBtn,
  ul {
    align-items: center;
    display: flex;
    margin: 0 5% 0 auto;
    li {
      list-style-type: none;
      width: max-content;
      margin: 0 2.5%;
      font-size: 1rem;
    }
  }
}
div#hero {
  width: 100%;
  background-color: #000855;
  color: white;
  height: 10rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  div#infoHolder {
    margin: 0 auto 0 5%;
    h2 {
      font-size: 1.75rem;
      margin: 0;
    }
  }
  img,
  video {
    margin: 0 5% 0 auto;
    width: 7rem;
    height: 8rem;
  }
}

div#mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  div.projectHolder {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    div.contentHolder {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      cursor: pointer;
      div.infoOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.45);
        color: whitesmoke;
        h3 {
        }
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    div.contentHolder:hover,
    div.contentHolder:active {
      transform: scale(1.25);
      transition: 0.35s ease;
      div.infoOverlay {
        top: 0%;
        transition: 0.35s ease;
      }
    }
  }
  div.projectHolder:nth-child(4n + 1) {
    border: 1px solid red;
    grid-column: 1;
    div.infoOverlay {
      h3 {
        margin: 70% auto 0 auto;
      }
    }
  }
  div.projectHolder:nth-child(4n + 2) {
    border: 1px solid blue;
    grid-column: 2 / span 2;
    div.infoOverlay {
      h3 {
        margin: 35% auto 0 auto;
      }
    }
  }
  div.projectHolder:nth-child(4n + 3) {
    border: 1px solid yellow;
    grid-column: 1 / span 2;
    div.infoOverlay {
      h3 {
        margin: 35% auto 0 auto;
      }
    }
  }
  div.projectHolder:nth-child(4n + 4) {
    border: 1px solid green;
    grid-column: 3;
    div.infoOverlay {
      h3 {
        margin: 70% auto 0 auto;
      }
    }
  }
}

footer {
  height: 150px;
  background-color: #3a3a3a;
}
