header {
  height: 10rem;
  h1 {
    font-size: 4rem;
    margin: 0 0 0 2%;
  }
  p {
    display: flex;
    margin: 0 auto 0 1%;
    font-size: 1.5rem;
  }
  div#hamBtn {
    display: none;
  }

  div#filterSettings_void {
  }
  div#filterSettings_holder {
    display:block;
    width: 45vw;
    height: 10rem;
      ul#nav {
        display:flex;
        width: 100%;
        align-items: center;
        height: 10rem;
        // overflow:hidden;
        li {
          display:block;
          line-height: 7rem;
          padding: 0 auto;
          font-size: 1.5rem;
          width:100%;
          height:fit-content;
          // background-color: aqua;
          div.dropDown {
            line-height:10rem;
          }
          div.dropDown:hover {
          }
          ul {
            display:none;
            margin:0;
            padding: 0;
            // overflow-y:scroll;
            li {
            margin: 0;
            line-height: 1.5rem;
            background-color: rgb(1, 5, 42);
            color:white;
            } 
            li:hover {
              background-color: #3a3a3a;
            }
          } 
          ul#ST_dropDwn_content{
            height:15rem;
          }
          ul#YC_dropDwn_content{
            height: 20rem;
          }
        }
        li.dropDwn_holder:nth-of-type(2),
        li.dropDwn_holder:nth-of-type(3),
        li.dropDwn_holder:hover > div {
          padding:0;
        }
        li.dropDwn_holder:nth-of-type(2):hover > div {
          margin-top:15rem;
        }
        li.dropDwn_holder:nth-of-type(3):hover > div {
          margin-top: 20rem;
        }
        li.dropDwn_holder:hover > ul {
          // margin-top: 0rem;
          display:block;
        }
      }
  }
}


section#hero {
  height: 35rem;
  margin-bottom: 5rem;
  div#infoHolder {
    height: 35rem;
    width: 100%;

    h2{
      text-align:center;
      margin: 10rem auto 0 auto;
      font-size:2.5rem;

    }
    p {
      text-align:center;
      margin: 3rem auto 0 auto;
      font-size: 1.5rem;
    }
    p#author {
    margin-top: 1rem;
    }
  }
  video {
    width: 100%;
  }
}


section#mainContent {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  div.projectHolder:nth-child(4n + 1) {
    grid-column: 1;
  }

  div.projectHolder:nth-child(4n + 2) {
    grid-column: 2;
  }

  div.projectHolder:nth-child(4n + 3) {
    grid-column: 3;
  }

  div.projectHolder:nth-child(4n + 4) {
    grid-column: 4;
  }
}