body {
  min-height: 150vh;
  background-color: whitesmoke;
}

main {
  padding-bottom: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  color: #000855;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

header h1 {
  font-size: 2rem;
  margin: 0 0 0 5%;
  font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p {
  display: none;
}

header div#hamBtn {
  color: #000855;
  font-size: 1.5rem;
  margin: 0 5% 0 auto;
  font-weight: bold;
  cursor: pointer;
}

header div#filterSettings_void {
  position: absolute;
  right: 60vw;
  top: 0;
  height: 105vh;
  -webkit-transition: width 0s linear 0.25s, background-color 0s linear 0.25s;
  transition: width 0s linear 0.25s, background-color 0s linear 0.25s;
}

header div#filterSettings_holder {
  position: absolute;
  z-index: 3;
  background-color: #000855;
  color: white;
  right: 0;
  top: 0;
  height: 105vh;
  width: 0vw;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

header div#filterSettings_holder ul {
  padding: 0;
  margin: 0;
}

header div#filterSettings_holder ul li {
  text-align: center;
  list-style-type: none;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

header div#filterSettings_holder ul li:hover {
  background-color: #01052a;
}

header div#filterSettings_void[class="visible"] {
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
}

header div#filterSettings_holder[class="visible"] {
  width: 60vw;
}

header div#filterSettings_holder[class="visible"] ul {
  display: block;
}

header div#filterSettings_holder[class="visible"] ul li.dropDwn_holder ul {
  display: none;
}

header div#filterSettings_holder[class="visible"] ul li.dropDwn_holder ul.dropDown_animation {
  -webkit-animation-name: dropDown;
          animation-name: dropDown;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

header div#filterSettings_holder[class="visible"] ul li.dropDwn_holder ul.flipUp_animation {
  -webkit-animation-name: flipUp;
          animation-name: flipUp;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes dropDown {
  from {
    display: none;
    height: 0;
  }
  to {
    display: block;
    height: -webkit-fit-content;
    height: fit-content;
  }
}

@-webkit-keyframes flipUp {
  from {
    display: block;
    height: -webkit-fit-content;
    height: fit-content;
  }
  to {
    display: none;
    height: 0;
  }
}

section#hero {
  width: 100%;
  height: 10rem;
  background-color: #3a3a3a;
  color: white;
  text-shadow: 2.5px 2.5px 5px black;
  margin-bottom: 1rem;
  overflow: hidden;
  position: fixed;
}

section#hero div#infoHolder {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10rem;
  width: 100%;
}

section#hero div#infoHolder h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1rem;
}

section#hero div#infoHolder p {
  width: 90%;
  font-size: 0.75rem;
  margin-left: 1rem;
}

section#hero div#infoHolder p#author {
  font-style: italic;
}

section#hero video {
  width: 100%;
}

section#mainContent {
  position: relative;
  background-color: whitesmoke;
  margin-top: 12.5rem;
  padding-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

section#mainContent div.projectHolder {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section#mainContent div.projectHolder div.contentHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

section#mainContent div.projectHolder div.contentHolder div.infoOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  -webkit-text-stroke: 0.5px black;
}

section#mainContent div.projectHolder div.contentHolder img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section#mainContent div.projectHolder div.contentHolder:hover,
section#mainContent div.projectHolder div.contentHolder:active {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

section#mainContent div.projectHolder div.contentHolder:hover div.infoOverlay,
section#mainContent div.projectHolder div.contentHolder:active div.infoOverlay {
  top: 0%;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

section#mainContent div.projectHolder:nth-child(4n + 1) {
  -ms-grid-column: 1;
  grid-column: 1;
}

section#mainContent div.projectHolder:nth-child(4n + 1) div.infoOverlay h3 {
  margin: 70% auto 0 auto;
}

section#mainContent div.projectHolder:nth-child(4n + 2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

section#mainContent div.projectHolder:nth-child(4n + 2) div.infoOverlay h3 {
  margin: 35% auto 0 auto;
}

section#mainContent div.projectHolder:nth-child(4n + 3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

section#mainContent div.projectHolder:nth-child(4n + 3) div.infoOverlay h3 {
  margin: 35% auto 0 auto;
}

section#mainContent div.projectHolder:nth-child(4n + 4) {
  -ms-grid-column: 3;
  grid-column: 3;
}

section#mainContent div.projectHolder:nth-child(4n + 4) div.infoOverlay h3 {
  margin: 70% auto 0 auto;
}

footer {
  position: relative;
  height: 150px;
  margin-top: 0rem;
  background-color: #3a3a3a;
}

@media only screen and (min-width: 760px) {
  header {
    height: 10rem;
  }
  header h1 {
    font-size: 3rem;
    margin: 0 0 0 2.5%;
  }
  header div#hamBtn {
    font-size: 2.5rem;
    margin: 0 2.5% 0 auto;
  }
  header div#filterSettings_holder {
    -webkit-transition: width 0.25s linear;
    transition: width 0.25s linear;
  }
  header div#filterSettings_holder ul li {
    font-size: 2rem;
  }
  section#hero {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
  }
  section#hero div#infoHolder {
    height: 20rem;
    width: 100%;
  }
  section#hero div#infoHolder h2 {
    text-align: center;
    margin: 4rem auto 0 auto;
    font-size: 2.5rem;
  }
  section#hero div#infoHolder p {
    text-align: center;
    margin: 1rem auto 0 auto;
    font-size: 1.25rem;
  }
  section#hero div#infoHolder p#author {
    margin-top: 0.25rem;
  }
  section#hero video {
    width: 100%;
  }
  section#mainContent {
    margin-top: 22.5rem;
    padding-bottom: 7.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }
  section#mainContent div.projectHolder {
    width: 100%;
    height: 100%;
  }
  section#mainContent div.projectHolder div.infoOverlay h3 {
    margin: 25% auto 0 auto;
  }
  section#mainContent div.projectHolder:nth-child(3n + 1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  section#mainContent div.projectHolder:nth-child(3n + 1) div.infoOverlay h3 {
    margin: 25% auto 0 auto;
  }
  section#mainContent div.projectHolder:nth-child(3n + 2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  section#mainContent div.projectHolder:nth-child(3n + 2) div.infoOverlay h3 {
    margin: 25% auto 0 auto;
  }
  section#mainContent div.projectHolder:nth-child(3n + 3) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  section#mainContent div.projectHolder:nth-child(3n + 3) div.infoOverlay h3 {
    margin: 25% auto 0 auto;
  }
  section#mainContent div.projectHolder:nth-child(3n + 4) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  section#mainContent div.projectHolder:nth-child(3n + 4) div.infoOverlay h3 {
    margin: 25% auto 0 auto;
  }
  footer {
    margin-top: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    height: 10rem;
  }
  header h1 {
    font-size: 4rem;
    margin: 0 0 0 2%;
  }
  header p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 0 1%;
    font-size: 1.5rem;
  }
  header div#hamBtn {
    display: none;
  }
  header div#filterSettings_holder {
    width: 45vw;
    height: 10rem;
  }
  header div#filterSettings_holder ul#nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
  }
  header div#filterSettings_holder ul#nav li {
    display: block;
    line-height: 7rem;
    padding: 0 auto;
    font-size: 1.5rem;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header div#filterSettings_holder ul#nav li div {
    line-height: 10rem;
  }
  header div#filterSettings_holder ul#nav li ul {
    margin: 0;
    padding: 0;
  }
  header div#filterSettings_holder ul#nav li ul li {
    margin: 0;
    line-height: 1.5rem;
    background-color: #01052a;
    color: white;
  }
  header div#filterSettings_holder ul#nav li ul li:hover {
    background-color: #3a3a3a;
  }
  header div#filterSettings_holder ul#nav li ul#ST_dropDwn_content {
    height: 15rem;
  }
  header div#filterSettings_holder ul#nav li ul#YC_dropDwn_content {
    height: 20rem;
  }
  header div#filterSettings_holder ul#nav li.dropDwn_holder:nth-of-type(2),
  header div#filterSettings_holder ul#nav li.dropDwn_holder:nth-of-type(3),
  header div#filterSettings_holder ul#nav li.dropDwn_holder:hover > div {
    padding: 0;
  }
  header div#filterSettings_holder ul#nav li.dropDwn_holder:nth-of-type(2):hover > div {
    margin-top: 15rem;
  }
  header div#filterSettings_holder ul#nav li.dropDwn_holder:nth-of-type(3):hover > div {
    margin-top: 20rem;
  }
  header div#filterSettings_holder ul#nav li.dropDwn_holder:hover > ul {
    display: block;
  }
  section#hero {
    height: 35rem;
    margin-bottom: 5rem;
  }
  section#hero div#infoHolder {
    height: 35rem;
    width: 100%;
  }
  section#hero div#infoHolder h2 {
    text-align: center;
    margin: 10rem auto 0 auto;
    font-size: 2.5rem;
  }
  section#hero div#infoHolder p {
    text-align: center;
    margin: 3rem auto 0 auto;
    font-size: 1.5rem;
  }
  section#hero div#infoHolder p#author {
    margin-top: 1rem;
  }
  section#hero video {
    width: 100%;
  }
  section#mainContent {
    margin-top: 37.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  section#mainContent div.projectHolder:nth-child(4n + 1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  section#mainContent div.projectHolder:nth-child(4n + 2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  section#mainContent div.projectHolder:nth-child(4n + 3) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  section#mainContent div.projectHolder:nth-child(4n + 4) {
    -ms-grid-column: 4;
    grid-column: 4;
  }
}
/*# sourceMappingURL=index.css.map */