@media only screen and (min-width: 0px) {
  body {
    min-height: 100vh;
    background-color: whitesmoke;
  }
  body div#disclaimerPopUp {
    position: fixed;
    z-index: 7;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  body div#disclaimerPopUp p {
    text-align: center;
  }
  section#previewScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  section#previewScreen section#side1 div#carousel {
    width: 100%;
    height: 200px;
    position: relative;
    margin: 2.5rem auto 0 auto;
    overflow: hidden;
  }
  section#previewScreen section#side1 div#carousel div#slidesHolder {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#previewScreen section#side1 div#carousel div#slidesHolder article.slide {
    min-width: 100%;
  }
  section#previewScreen section#side1 div#carousel div#slidesHolder article.slide img {
    width: 100%;
    height: 100%;
  }
  section#previewScreen section#side1 div#carousel div#slideControls {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn {
    background: transparent;
    font-size: 2.5rem;
    border: none;
    padding: 10px;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn:focus {
    outline: none;
  }
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn:hover,
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn:active {
    background-color: rgba(0, 8, 85, 0.5);
    border-radius: 5px;
  }
  section#previewScreen section#side1 div#buttonNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin: 1rem auto 1rem auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000855;
  }
  section#previewScreen section#side1 div#buttonNav div.currentBtn {
    color: rgba(0, 8, 85, 0.5);
  }
  section#previewScreen section#side1 div#buttonNav div.slideBtn:hover,
  section#previewScreen section#side1 div#buttonNav div.slideBtn:active {
    color: rgba(0, 8, 85, 0.5);
  }
  section#previewScreen section#side2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#previewScreen section#side2 div#infoSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 5rem auto;
    width: 80%;
  }
  section#previewScreen section#side2 div#infoSection h1 {
    margin: 0;
  }
  section#previewScreen section#side2 div#infoSection p {
    margin-top: 1rem;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 2.5rem auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a:link,
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    background-color: #000855;
    text-decoration: none;
    width: 7.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a:hover,
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a:active {
    background-color: rgba(0, 8, 85, 0.5);
  }
}

@media only screen and (min-width: 768px) {
  section#previewScreen section#side1 div#carousel {
    height: 400px;
  }
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn {
    font-size: 7.5rem;
  }
  section#previewScreen section#side1 div#buttonNav {
    width: 50%;
    font-size: 2rem;
  }
  section#previewScreen section#side2 div#infoSection {
    width: 80%;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  section#previewScreen section#side1 div#carousel {
    height: 500px;
  }
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn {
    font-size: 7.5rem;
  }
  section#previewScreen section#side1 div#buttonNav {
    margin: 2.5rem auto 1.5rem auto;
  }
  section#previewScreen section#side2 div#infoSection {
    width: 80%;
  }
  section#previewScreen section#side2 div#infoSection h1 {
    font-size: 2.5rem;
  }
  section#previewScreen section#side2 div#infoSection span#year {
    font-size: 2rem;
  }
  section#previewScreen section#side2 div#infoSection p {
    font-size: 1.5rem;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder {
    width: 50%;
    font-size: 2rem;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a#viewBtn,
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a#returnBtn {
    width: 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  section#previewScreen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 2.5rem auto;
  }
  section#previewScreen section#side1 {
    width: 50%;
  }
  section#previewScreen section#side1 div#carousel {
    height: 300px;
  }
  section#previewScreen section#side1 div#carousel div#slideControls button.shiftBtn {
    font-size: 5rem;
  }
  section#previewScreen section#side1 div#buttonNav {
    font-size: 1.5rem;
  }
  section#previewScreen section#side2 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  section#previewScreen section#side2 div#infoSection {
    margin: 0;
    width: 80%;
  }
  section#previewScreen section#side2 div#infoSection h1 {
    font-size: 2rem;
  }
  section#previewScreen section#side2 div#infoSection span#year {
    font-size: 1.5rem;
  }
  section#previewScreen section#side2 div#infoSection p {
    font-size: 1rem;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder {
    width: 75%;
    font-size: 1.25rem;
  }
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a#viewBtn,
  section#previewScreen section#side2 div#infoSection div#previewBtnHolder a#returnBtn {
    width: 10rem;
  }
}
/*# sourceMappingURL=preview.css.map */