html {
    height: 100vh;
    body {
        // height: 500vh;
        div#mainContainer {
            // background-image:url('Tree.png');
            // background-position: top;
            // background-repeat: no-repeat;
            
            /*GENERIC*/         
      
            section#hero {
                div.row {
                    display:flex;
                    flex-direction:column;
                    width: 90%;
                    margin:0 auto;
                    transition: background-color 1s, color 1s, box-shadow 1s;
                    div.col#displayDescript {
                        h2 {
                            width: 100%;
                            text-align:center;
                            margin:1rem 0;
                            padding:0;
                            line-height:3rem;
                        }
                        p {
                            display:none;
                        }
                        div#DLbtn2 {
                            transition: opacity 1s;
                        }
                        div#DLbtn2:hover {
                            opacity: 1;
                        }
                    }
                    div.col#hero_img {
                        img {
                            display:block;
                            margin: 0 auto;
                            transition: opacity 0.5s;
                        } 
                        img:hover {
                            opacity: 1 !important;
                        }
                    }
                    div.col#DLbtn1 {
                        div.btn {
                            p{                               
                            }
                        }  
                        div.btn.onlyMax:hover {
                            opacity: 1;
                        }
                    }
                }
              
            }
            
            section#progress {
                div#progress_chart{
                    article {
                        display:block;
                        width:60%;
                        margin:1rem auto;
                        align-items: center;
                        justify-content: center;
                        span.story_title{
                            
                        }
                        div.progress_holder {
                            display:flex;
                            align-items: center;
                            div.progress_bar {
                                display:flex;
                                // width: 100%;
                                height:0.75rem;
                                background-color:cyan;
                            }
                            span {
                                text-align:right;
                                width: 4rem
                            }
                        }
                    }
                }
            }
            
            section#starters{
                h1 {
                }
                div#grid{
                    grid-template-columns: 1fr 1fr 1fr !important;
                    grid-row-gap: 7.5rem;
                    article {
                        div.topHalf {
                            width: 100%;
                            div.storyOverlay {
                                h3 {
                            }
                                img {   
                                }    
                            }
                            
                        }
                        div.topHalf:hover > h3{
                        }
                        div.bottomHalf {
                            padding-top: 1rem;
                            p {
                            }
                            p:hover {
                            }
                        }
                    }
                }

                        }
        }
    }
}



















            
            

         

