html body div#mainContainer section#hero {
  background-color: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 0rem auto 5rem auto;
}

html body div#mainContainer section#hero div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 25px black, -5px -5px 25px black;
          box-shadow: 5px 5px 25px black, -5px -5px 25px black;
  padding: 1rem;
  border-radius: 10px;
}

html body div#mainContainer section#hero div.row div.col#displayDescript h2 {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 0;
  line-height: 3rem;
}

html body div#mainContainer section#hero div.row div.col#displayDescript p {
  display: none;
}

html body div#mainContainer section#hero div.row div.col#hero_img img {
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  border-radius: 10px;
}

html body div#mainContainer section#hero div.row div.col#DLbtn1 div.btn {
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  width: 40%;
  margin: 1rem auto;
}

html body div#mainContainer section#hero div.row div.col#DLbtn1 div.btn p {
  margin: 0;
}

html body div#mainContainer section#progress {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body div#mainContainer section#progress div#progress_chart {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 25px black, -5px -5px 25px black;
          box-shadow: 5px 5px 25px black, -5px -5px 25px black;
  padding: 0.5rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}

html body div#mainContainer section#progress div#progress_chart article {
  display: block;
  width: 60%;
  margin: 1rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body div#mainContainer section#progress div#progress_chart article div.progress_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

html body div#mainContainer section#progress div#progress_chart article div.progress_row div.progress_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  outline: 1px solid white;
  border-radius: 2.5px;
}

html body div#mainContainer section#progress div#progress_chart article div.progress_row div.progress_holder div.progress_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.75rem;
  background-color: cyan;
}

html body div#mainContainer section#progress div#progress_chart article div.progress_row span.story_percentage {
  text-align: right;
  width: 4rem;
  margin: 0 0 0 auto !important;
  justify-items: right;
}

html body div#mainContainer section#starters {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body div#mainContainer section#starters h1 {
  margin: 2rem inherit 2rem inherit;
  margin-bottom: 2rem;
}

html body div#mainContainer section#starters div#grid {
  width: 90%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 25px black, -5px -5px 25px black;
          box-shadow: 5px 5px 25px black, -5px -5px 25px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 5rem;
  padding: 3rem 0;
  border-radius: 10px;
}

html body div#mainContainer section#starters div#grid article {
  width: 15rem;
  margin: 0 auto;
  background-color: #323232;
  -webkit-box-shadow: 2px 2px 20px white;
          box-shadow: 2px 2px 20px white;
  overflow: hidden;
  border-radius: 10px;
}

html body div#mainContainer section#starters div#grid article div.topHalf {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

html body div#mainContainer section#starters div#grid article div.topHalf div.storyOverlay {
  width: 15rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  border-radius: 10px 10px 0 0;
}

html body div#mainContainer section#starters div#grid article div.topHalf div.storyOverlay h3 {
  text-shadow: 3px 3px black;
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

html body div#mainContainer section#starters div#grid article div.topHalf img {
  display: block;
  width: 100%;
  height: 20rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  -webkit-transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s;
  transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s;
}

html body div#mainContainer section#starters div#grid article div.topHalf:hover div.storyOverlay {
  opacity: 1;
}

html body div#mainContainer section#starters div#grid article div.topHalf:hover img {
  width: 125%;
  height: 125%;
  margin-left: -12%;
  margin-top: -14%;
}

html body div#mainContainer section#starters div#grid article div.bottomHalf {
  position: relative;
  padding-top: 1rem;
}

html body div#mainContainer section#starters div#grid article div.bottomHalf p.btn {
  color: white;
  width: 75%;
  margin: 0.5rem auto 1rem auto;
  display: block;
  line-height: 2rem;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: cyan !important;
  }
  html {
    height: 100vh;
  }
  html body {
    height: 500vh;
  }
  html body div#mainContainer section#hero div.row {
    width: 75% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 1s, color 1s, -webkit-box-shadow 1s;
    transition: background-color 1s, color 1s, -webkit-box-shadow 1s;
    transition: background-color 1s, color 1s, box-shadow 1s;
    transition: background-color 1s, color 1s, box-shadow 1s, -webkit-box-shadow 1s;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0 !important;
    padding: 0;
    line-height: 3rem;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript p {
    display: block !important;
    padding: 0 1rem;
    margin: -1rem 0 1rem 0 !important;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript div#DLbtn2 {
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
    width: 40%;
    margin: 0 auto;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript div#DLbtn2 p {
    display: block;
    color: white;
    background-color: darkgreen;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 1rem;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript div#DLbtn2:hover {
    opacity: 1;
  }
  html body div#mainContainer section#hero div.row div.col#hero_img img {
    display: block;
    margin: 0 auto;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  html body div#mainContainer section#hero div.row div.col#DLbtn1 {
    display: none !important;
  }
  html body div#mainContainer section#hero div.row div.col#DLbtn1 div.btn {
    display: none !important;
  }
  html body div#mainContainer section#hero div.row div.col#DLbtn1 div.btn.onlyMax:hover {
    opacity: 1;
  }
  html body div#mainContainer section#hero div.row.onlyMax:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: 5px 5px 25px white, -5px -5px 25px white;
            box-shadow: 5px 5px 25px white, -5px -5px 25px white;
  }
  html body div#mainContainer section#hero div.row.onlyMax:hover div.col#hero_img img {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  html body div#mainContainer section#hero div.row.onlyMax:hover div.col#hero_img img:hover {
    opacity: 1 !important;
  }
  html body div#mainContainer section#hero div.row.onlyMax:hover div.col#displayDescript div.btn {
    opacity: 0.5;
  }
  html body div#mainContainer section#progress div#progress_chart article {
    display: block;
    width: 60%;
    margin: 1rem auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body div#mainContainer section#progress div#progress_chart article div.progress_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body div#mainContainer section#progress div#progress_chart article div.progress_holder div.progress_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.75rem;
    background-color: cyan;
  }
  html body div#mainContainer section#progress div#progress_chart article div.progress_holder span {
    text-align: right;
    width: 4rem;
  }
  html body div#mainContainer section#starters div#grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 7.5rem;
  }
  html body div#mainContainer section#starters div#grid article div.topHalf {
    width: 100%;
  }
  html body div#mainContainer section#starters div#grid article div.bottomHalf {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  html {
    height: 100vh;
  }
  html body div#mainContainer {
    /*GENERIC*/
  }
  html body div#mainContainer section#hero div.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
    -webkit-transition: background-color 1s, color 1s, -webkit-box-shadow 1s;
    transition: background-color 1s, color 1s, -webkit-box-shadow 1s;
    transition: background-color 1s, color 1s, box-shadow 1s;
    transition: background-color 1s, color 1s, box-shadow 1s, -webkit-box-shadow 1s;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    padding: 0;
    line-height: 3rem;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript p {
    display: none;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript div#DLbtn2 {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  html body div#mainContainer section#hero div.row div.col#displayDescript div#DLbtn2:hover {
    opacity: 1;
  }
  html body div#mainContainer section#hero div.row div.col#hero_img img {
    display: block;
    margin: 0 auto;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  html body div#mainContainer section#hero div.row div.col#hero_img img:hover {
    opacity: 1 !important;
  }
  html body div#mainContainer section#hero div.row div.col#DLbtn1 div.btn.onlyMax:hover {
    opacity: 1;
  }
  html body div#mainContainer section#progress div#progress_chart article {
    display: block;
    width: 60%;
    margin: 1rem auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body div#mainContainer section#progress div#progress_chart article div.progress_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body div#mainContainer section#progress div#progress_chart article div.progress_holder div.progress_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.75rem;
    background-color: cyan;
  }
  html body div#mainContainer section#progress div#progress_chart article div.progress_holder span {
    text-align: right;
    width: 4rem;
  }
  html body div#mainContainer section#starters div#grid {
    -ms-grid-columns: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr !important;
    grid-row-gap: 7.5rem;
  }
  html body div#mainContainer section#starters div#grid article div.topHalf {
    width: 100%;
  }
  html body div#mainContainer section#starters div#grid article div.bottomHalf {
    padding-top: 1rem;
  }
}
/*# sourceMappingURL=landing.css.map */