html {
    height: 100vh;
    body {
        // height: 500vh;
        div#mainContainer {
            padding-top:10rem;
            color: white;
            header{
                background:linear-gradient(black 47%, rgba(255,255,255,0) 98%);
                width:100%;
                height:10rem;
                margin-top:-10rem;
                position:fixed;
                color: white !important;
                nav {
                    color: white !important;
                    padding:0;
                    div{
                        color: white !important;
                        margin:0;
                        padding:0;
                        // display:flex;
                        // width: 100%;
                        ul#mainNav {
                            color: white !important;
                            width: 100%;  
                            display:flex;
                            flex-direction:row;
                            justify-content:space-evenly;
                            align-items:center;
                            position:relative;
                            margin:0;
                            padding:0;
                            li {
                                display:block;
                                a:link,
                                a:visited,
                                {
                                    display:block;
                                    color: white !important;
                                    width: 10rem!important;
                                    text-align:center;
                                    transition: font-weight 0.25s, text-shadow 0.25s, text-decoration 0.25s;
                                }
                                a:hover,
                                a:active {
                                    font-weight:bold;
                                    text-shadow: 0 0 5px cyan;
                                    text-decoration: underline;
                                }
                            }
                            li:not(#logo) {
                                display:flex !important;
                            }
                            li > a > img {
                            // border: 1px solid red;
                            width: 5rem ;
                            }
                        }
                        button {
                            position:absolute;
                            top:1rem;
                            right: 0;
                            color:white !important;
                            // display:none;
                            span {
                                color: white !important;
                                font-size:3rem;
                            }
                        }
                        div#navcol-1 {
                            display:none;
                            ul {
                                width: 30vw;
                                height: 100vh;
                                position:absolute;
                                right:0;
                                margin-right:1rem;
                                display:none;
                                li {
                                    a:link,
                                    a:visited{
                                        color: white;
                                        text-align:right;
                                        transition: font weight 0.25s, text-shadow 0.25s, text-decoration 0.25s;
                                    }
                                    a:hover,
                                    a:active {
                                        font-weight:bodler;
                                        text-shadow: 0 0 5px cyan;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            /*GENERIC*/
            section { 
                background-color: rgba(0,0,0,0.75);
                height:fit-content;
                padding: 2rem 0;
                box-shadow:5px 5px 25px black, -5px -5px 25px black;
                h1 {
                    margin: 0 0 2rem 3rem !important;
                    
                }
                h2 {
                    margin: 0 0 1rem 2rem;
                }
            }
            
            p.btn {
                background-color:darkgreen;
                color:white;
                line-height: inherit;
                box-shadow: 2px 2px 5px black;
                text-align:center;
                text-shadow: 1.5px 1.5px black;
            }
            
            p.btn:hover {
                cursor:pointer;
                background-color:cyan !important;
                color: rgb(50,50,50) !important;
                font-weight:bolder;  
                text-shadow:none;
                }
        }
        // .onlyMax:hover{
        //     background-color:white;
        //     color:black;
        //     box-shadow:5px 5px 25px white, -5px -5px 25px white;
        //     div.col#displayDescript {
        //         div.btn {
        //             opacity: 0.5;
        //         }
        //     }
        // }
    }
}



















            
            

         

