<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/PokemonCafe.css">
</head>
<body>
    <div class="main_stuff">
        <!-- <img class="Logo" src="Images/Pokemon Cafe/Logo.png"  alt="Logo"> -->
        <div class="banner_place">
            <a href="Pokemon Cafe Website.html"><p class="escape">Home</p></a>
            <img class="banner" src="Images/Pokemon Cafe/banner pic4.png" alt="banner_pic">
            <div class="overlay">
                <div class="text">Menu Items</div>
            </div>
        </div>
    </div>
</body>
</html>