<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Cafe Mix Online</title>
    <link rel="stylesheet" href="css/PokemonCafe.css">
</head>
<body>
    <div class="main_stuff">
        <!-- <img class="Logo" src="Images/Pokemon Cafe/Logo.png"  alt="Logo"> -->
        <img class="banner" src="Images/Pokemon Cafe/bannerLarge.png" alt="banner_pic">
        <nav>
            <ul>
                <li><a href="*">Locations</a></li>
                <li><a href="*">Log-In</a></li>
                <li><a href="*">About Us</a></li>
            </ul>
        </nav>

        <div class="option_items">
            <div id="curry">
                <img src="Images/Pokemon Cafe/Food.jpg", width="465.2", height="479", alt="curry">
                <a href="PCW_menu_items (draft 3).html"><div class="overlay">
                    <div class="text">Menu Items</div>
                </div></a>
            </div>
            <div id="menu_items">
                <img src="Images/Pokemon Cafe/option3_pic1.png", width="440", height="133", alt="option1">
                <a href="*">
                    <div class="overlay">
                <div class="text">Parties and Events</div>
                </div></a>
            </div>
            <div id="parties_events">        
                <img src="Images/Pokemon Cafe/option3_pic2.png", width="440", height="133", alt="option1">
                <a href="PCW3.html"><div class="overlay">
                    <div class="text">Testimonialss</div>
                </div></a>      
                
            </div>
            <div id="testimonials">   
                <img src="Images/Pokemon Cafe/banner pic4.png", width="440", height="133", alt="option1">           
                <a href="PCW3.html"><div class="overlay">
                    <div class="text">Careers</div>
                </div></a>
            </div>
       
    </div>
    <!-- <a href="C&GI_index.html"><img src="Images/C&GI/C&GI_logo.png", width="200", alt="Logo"></a> -->
</body>
</html>