body {
  main {
    nav {
      ul {
        list-style:none;
        padding:0;
        display:flex;
        justify-content:space-between;
        width: 84.5%;
        margin: 0 auto;
        li {
          background-color: rgb(34,139,34);
          font-weight:bold;
          line-height: 3rem;
          padding: 0 7.5%;
          border-radius: 10px 10px 0 0;
          cursor:pointer;
        }
        li:hover {
          background-color: rgb(20, 81, 20);
        }
      }
    }
    div#mainScreen {
      width: 84.5%;
      margin: 0 auto;
      height: 30rem;

      outline: 0.75rem solid rgb(34,139,34);
      outline-offset: -0.75rem;
      div#timer,
      div#callOut,
      div#history {
        width: fill;
        height: 95%;
        padding: 0.75rem;
      }
      div#timer {
        div#timer_display{
          width: 100%;
          padding: 2.25rem 0;
          // background-color:red;
          // margin: 2.25rem auto;
          line-height: 5rem;
          // border: 1px solid black;
          text-align:center;
          font-size: 2rem;
          
        }
        div#timer_keypad{
          width: 100%;
          margin: 0rem auto;
          height: 19rem;
          display:grid;
          border: 1px solid black;
          grid-template-columns: 1fr 1fr 1fr;
          div.number{
            text-align:center;
            align-self:center;
            border: 0.25px solid black;
            p {
              // width: fill;
              // height: 100%;
              margin:0;
              padding: 1.5rem 0;
              font-size: 1.5rem;
              cursor:pointer;
              // background-color: red;
            }
          }
          div.number:nth-child(10) {
            cursor:pointer;
            // background-color:red;
            padding: 0;
            // line-height: 2rem;
            grid-column:1/4;
          }
        }
      }
      div#callOut{
        display:flex;
        // background-color:red;
        align-items:center;
        justify-content:center;
        text-align:center;
        p {
          display:block;
          font-size:6rem;
        }
      }
      div#history{
        background-image: url('../familySearchLogo.png');
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
        p {
          width: fill;
          height:fill;
          margin: 0;
          padding: 4rem 10%;
          background-color:rgba(255,255,255,0.75);
          text-align: center;
          font-size: 2.25rem;
        }
      }
    }
    div#btnHolder {
      width: 80%;
      margin: 1rem auto;
      text-align:center;
      button {
        width: 5rem;
        line-height: 2rem;
        margin: 0 1rem;
        cursor:pointer;
      }
    }
    h1, a#pdfLink {
      width: 100%;
      text-align:center;
      display:block;
    }
  }
}