@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@media only screen and (min-width: 0px) {
  .hidden {
    display: none !important;
  }
  .descriptionText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 !important;
    text-align: center;
    line-height: 2rem;
  }
  body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
  }
  body header {
    position: fixed;
    top: 0;
    background-color: #000936;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    width: 100%;
    height: 5rem;
  }
  body header div#logoSection {
    height: 5rem;
    width: 100vw;
    padding: 0 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header div#logoSection div.logoSpot {
    z-index: 6;
    width: 50px;
  }
  body header div#logoSection div.logoSpot img {
    width: 100%;
  }
  body header nav#mainNav {
    display: none;
    font-family: 'Montserrat', sans-serif;
  }
  body header nav#mainNav ul li {
    color: white;
    cursor: pointer;
  }
  body header nav#mainNav ul li:hover {
    text-decoration: underline;
  }
  body header section#nav_mobile {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    width: 100vw;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-transition: height 0.25s;
    transition: height 0.25s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  body header section#nav_mobile div#hambBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body header section#nav_mobile div#hambBtn i {
    color: white;
  }
  body header section#nav_mobile nav#sideNav {
    display: none;
  }
  body header section#nav_mobile.switch_ON {
    background-color: #000936;
    height: 100vh;
  }
  body header section#nav_mobile.switch_ON nav#sideNav {
    display: block;
    margin: 0rem auto;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul hr {
    width: 75%;
    border: 0.25px solid white;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.baseOption {
    margin: 2.5rem 0;
    color: white;
    text-decoration: none;
    -webkit-transition: -webkit-text-decoration 0.5s;
    transition: -webkit-text-decoration 0.5s;
    transition: text-decoration 0.5s;
    transition: text-decoration 0.5s, -webkit-text-decoration 0.5s;
    cursor: pointer;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.baseOption a:link,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.baseOption a:visited {
    color: white;
    text-decoration: none;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.baseOption:hover,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.baseOption:active {
    font-weight: bolder;
    text-decoration: underline;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder {
    margin: 2.5rem 0;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder div.dropDown_btn {
    color: white;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder ul.dropDown_list {
    overflow-y: hidden;
    height: 0;
    padding: 0;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder ul.dropDown_list hr {
    color: white;
    width: 50%;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder ul.dropDown_list li {
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder ul.dropDown_list li a:link,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder ul.dropDown_list li a:visited {
    color: white;
    text-decoration: none;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:hover div.dropDown_btn,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:active div.dropDown_btn {
    font-weight: bolder;
    text-decoration: underline;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:hover ul.dropDown_list.switch_ON,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:active ul.dropDown_list.switch_ON {
    height: 250px;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:hover ul.dropDown_list.switch_ON li:hover,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:hover ul.dropDown_list.switch_ON li:active,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:active ul.dropDown_list.switch_ON li:hover,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:active ul.dropDown_list.switch_ON li:active {
    font-weight: bolder;
  }
  body main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  body footer {
    color: #8c8a86;
    width: 100%;
    min-height: 100px;
    height: 500vh !important;
    background-color: black !important;
    bottom: 0;
    display: block;
    position: relative;
    margin-top: -100vh;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  body footer div#footer_stickyContent {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    height: 150vh;
    overflow: hidden;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs {
    width: 100%;
    padding: 2.5rem 0 3rem 0;
    background-color: #000936;
    -webkit-transition: background-color 0.75s;
    transition: background-color 0.75s;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow {
    top: 5rem;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 3;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form {
    margin-top: 0vh;
    width: 80vw;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form h3 {
    font-weight: normal;
    color: white;
    -webkit-transition: color 0.75s;
    transition: color 0.75s;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form input, body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form textarea, body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form button {
    display: block;
    width: 100%;
    margin: 1rem 0;
    border-radius: 5px;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form input {
    line-height: 2rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form textarea {
    height: 20vh;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form button {
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #969696;
    color: black;
    cursor: pointer;
    -webkit-transition: background-color 0.75s, color 0.75s;
    transition: background-color 0.75s, color 0.75s;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form button:hover,
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form button:active {
    background-color: black;
    color: white;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs p.descriptionText {
    color: white;
    padding: 1rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs.contactUs_altered {
    background-color: white;
    color: black;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs.contactUs_altered section#formOverflow form h3 {
    color: black;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs.contactUs_altered section#formOverflow form button {
    color: white;
    background-color: black;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs.contactUs_altered section#formOverflow form button:hover,
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs.contactUs_altered section#formOverflow form button:active {
    background-color: #000936;
    color: white;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 150vh;
    position: relative;
    overflow: hidden;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists div#footer_backgroundImg {
    position: absolute;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists div#footer_backgroundImg img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section {
    margin: 0.5rem 0 0.5rem 1rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > h3 {
    color: white;
    text-decoration: underline;
    margin: 0 0 0.25rem 0;
    font-size: 1.75rem;
    font-weight: normal;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul {
    color: white;
    list-style: none;
    padding: none;
    margin: 0;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0.5rem 0;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 {
    font-size: 1.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: normal;
    cursor: pointer;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 a:link,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 a:visited,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 a:hover,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 a:active {
    color: white;
    text-decoration: none;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 i {
    -webkit-transition: -webkit-transform 0.75s;
    transition: -webkit-transform 0.75s;
    transition: transform 0.75s;
    transition: transform 0.75s, -webkit-transform 0.75s;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4.showList i {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder {
    height: 0;
    opacity: 0;
    overflow: hidden !important;
    -webkit-transition: height 0.75s, opacity 0.75s;
    transition: height 0.75s, opacity 0.75s;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder ul li {
    font-size: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding-left: 1rem;
    -webkit-transition: height 0.75s;
    transition: height 0.75s;
    cursor: pointer;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder ul li a:link,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder ul li a:visited {
    color: white;
    text-decoration: none;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder ul li a:hover,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder ul li a:active {
    color: #000936;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder.showList {
    height: 5rem;
    opacity: 1;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder.showList ul li {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder.showList ul li a:link,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder.showList ul li a:visited {
    color: white;
    text-decoration: none;
    width: 100%;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder.showList ul li a:hover,
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li div.footerDropDown_holder.showList ul li a:active {
    color: #000936;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_left div#siteLinks div.footerDropDown_holder.showList {
    height: 10rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_left div#siteLinks div.footerDropDown_holder.showList ul {
    height: 10rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_left div#siteLinks div.footerDropDown_holder.showList ul li {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall h3 {
    text-align: left;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  body header {
    height: 7.5rem;
  }
  body header div#logoSection {
    height: 7.5rem;
  }
  body header div#logoSection div#SD_logo {
    width: 100px;
  }
  body header div#logoSection div#Studio_logo {
    width: 100px;
  }
  body header section#nav_mobile {
    height: 7.5rem;
  }
  body header section#nav_mobile div#hambBtn {
    height: 7.5rem;
    font-size: 2.5rem;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.baseOption {
    font-size: 2rem;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder {
    font-size: 2rem;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder ul.dropDown_list li {
    font-size: 1.5rem;
  }
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:hover ul.dropDown_list.switch_ON,
  body header section#nav_mobile.switch_ON nav#sideNav ul li.dropDown_holder:active ul.dropDown_list.switch_ON {
    height: 325px;
  }
  body footer {
    height: 300vh !important;
  }
  body footer div#footer_stickyContent {
    top: 7.5rem;
    font-weight: normal;
    height: 125vh;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form div#smallTextInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form div#smallTextInput input {
    width: 50%;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form div#smallTextInput input:nth-of-type(3) {
    width: 100%;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs p.descriptionText {
    color: white;
    padding: 1rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists div#footer_backgroundImg {
    height: 100vh;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists div#footer_backgroundImg img {
    width: 150% !important;
    height: 100vh;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_left {
    margin: 2.5rem 0 0 2.5rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right {
    margin: 2.5rem 2.5rem 0 0;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall h3 {
    text-align: right;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    justify-self: end;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder ul li {
    text-align: right;
    padding-right: 0rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder.showList {
    height: 4rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder.showList ul {
    height: 4rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder.showList ul li {
    text-align: right;
  }
}

@media only screen and (min-width: 993px) {
  body header {
    width: 100%;
  }
  body header div#logoSection {
    position: absolute;
    width: 100%;
    padding: 0 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header div#logoSection div.logoSpot {
    z-index: 6;
    width: 75px !important;
  }
  body header div#logoSection div.logoSpot img {
    width: 100%;
  }
  body header nav#mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    width: 100%;
    height: 7.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav#mainNav ul {
    list-style: none;
    margin: 0rem auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 80vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body header nav#mainNav ul li.baseOption {
    font-size: 1rem;
  }
  body header nav#mainNav ul li.baseOption a:link,
  body header nav#mainNav ul li.baseOption a:visited {
    color: white;
    text-decoration: none;
  }
  body header nav#mainNav ul li.dropDown_holder {
    display: block;
  }
  body header nav#mainNav ul li.dropDown_holder div.dropDown_btn {
    font-size: 1rem;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list {
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #969696;
    color: #000936;
    margin: 0 !important;
    height: 0;
    -webkit-transition: height 0.5s, padding 0.5s;
    transition: height 0.5s, padding 0.5s;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list li {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON {
    opacity: 1;
    visibility: visible;
    height: 7.5vh;
    cursor: initial;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li {
    opacity: 1;
    width: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li a:link,
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li a:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000936;
    text-decoration: none;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li a:link i,
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li a:visited i {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li a:hover,
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li a:active {
    color: white;
    text-decoration: none !important;
  }
  body header section#nav_mobile {
    display: none;
    padding: 0;
  }
  body footer {
    padding-bottom: 0;
  }
  body footer div#footer_stickyContent div#footer_backgroundImg img {
    width: 200vw;
  }
}

@media only screen and (min-width: 1200px) {
  body header {
    height: 5rem;
  }
  body header div#logoSection {
    height: 5rem;
  }
  body header nav#mainNav {
    height: 5rem;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list {
    top: 5rem;
    padding: 0 12.5vw;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON {
    height: 5rem;
  }
  body header nav#mainNav ul li.dropDown_holder ul.dropDown_list.switch_ON li {
    cursor: pointer;
  }
  body footer {
    padding-bottom: 0;
  }
  body footer div#footer_stickyContent {
    top: 5rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay {
    padding: 0rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#contactUs section#formOverflow form {
    width: 60vw !important;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section {
    width: 35vw;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section > div > ul li h4 {
    font-size: 1rem;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder.showList {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder.showList ul {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body footer div#footer_stickyContent div#footer_textualOverlay div#footer_lists section#footer_right div#contactSmall ul li div.footerDropDown_holder.showList ul li {
    cursor: initial;
  }
}
/*# sourceMappingURL=index_apple.css.map */