@media only screen and (min-width: 0px) {
  section#alternatingBanner {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }
  section#alternatingBanner section.bannerOption {
    width: 100%;
    height: 100%;
  }
  section#alternatingBanner section#cinematography_youtubestyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section#alternatingBanner section#cinematography_youtubestyle div.filler {
    width: 100%;
    min-height: 100px;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(75%, #000936));
    background: linear-gradient(0deg, black 0%, #000936 75%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#alternatingBanner section#cinematography_youtubestyle video {
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#alternatingBanner section#cinematography_youtubestyle video source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background: linear-gradient(180deg, black 0%, white 100%);
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 0 0.5rem 0;
    background-color: none;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder div.overlay {
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding: 0;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder img {
    width: 60px;
    height: 60px;
    -webkit-transition: width 0.25s, height 0.25s, margin 0.25s;
    transition: width 0.25s, height 0.25s, margin 0.25s;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:hover div.overlay,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:active div.overlay {
    opacity: 1;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:hover img,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:active img {
    width: 115%;
    height: 115%;
    margin-left: -0.4rem;
    margin-top: -0.15rem;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div a:link,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div a:visited {
    text-decoration: none;
    color: black;
  }
  section#alternatingBanner section#videography_2x2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section#alternatingBanner section#videography_2x2 div.filler {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
    min-height: 100px;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(75%, #000936));
    background: linear-gradient(0deg, black 0%, #000936 75%);
  }
  section#alternatingBanner section#videography_2x2 div.video_holder {
    width: 100%;
    height: 17.5rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder div.filter_dark {
    display: none;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder video {
    height: 100%;
  }
  section#alternatingBanner section#photography_carousel div.filler {
    width: 100%;
    min-height: 100px;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(75%, #000936));
    background: linear-gradient(0deg, black 0%, #000936 75%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder {
    overflow-x: hidden;
    outline: 1px solid black;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content {
    background-color: black;
    height: 77.5vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide {
    background-color: black;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide div.filter_dark {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide div.filter_dark h2 {
    margin: 0;
    color: white;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide img {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide:hover div.filter_dark,
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide:active div.filter_dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div.revolveBtn {
    display: block;
    position: absolute;
    color: rgba(0, 9, 54, 0.75);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    font-size: 2.5rem;
    top: 50vh;
    z-index: 2;
    cursor: pointer;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#prevBtn {
    left: 2.5vw;
    display: none;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#nextBtn {
    right: 2.5vw;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#slide-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20vw;
    margin: -4rem auto 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#slide-nav button.slide-dot {
    font-size: 1.5rem;
    color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 9, 54, 0.75);
    cursor: pointer;
  }
  section#alternatingBanner section#audio_playlist div.filler {
    width: 100%;
    min-height: 100px;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(75%, #000936));
    background: linear-gradient(0deg, black 0%, #000936 75%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#alternatingBanner section#audio_playlist section#bannerView {
    width: 100%;
    height: 85vh;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#audio_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#audio_img img {
    width: 100%;
    height: 100%;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 85vh;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label {
    background-color: rgba(0, 0, 0, 0.5);
    width: 75vw;
    height: 75vw;
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto 0rem auto;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin: 0 !important;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label h3.short {
    font-size: 3rem;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label h3.medium {
    font-size: 2rem;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label h3.long {
    font-size: 1rem;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_controls audio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 95%;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul {
    list-style: none;
    padding: 0;
    height: 14rem;
    overflow-y: scroll;
    margin: 0.5rem 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul ::-webkit-scrollbar {
    color: red;
    background-color: red;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul li {
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 2rem;
    margin: 0.25rem 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul li:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul li.playList_current {
    color: cyan;
  }
}

@media only screen and (min-width: 768px) {
  section#alternatingBanner section#cinematography_youtubestyle div.filler {
    min-height: 125px;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row {
    padding: 1rem 0 0.5rem 0;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder {
    width: 125px;
    height: 125px;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder div.overlay {
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding: 0;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder img {
    width: 125px;
    height: 125px;
    -webkit-transition: width 0.25s, height 0.25s, margin 0.25s;
    transition: width 0.25s, height 0.25s, margin 0.25s;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:hover div.overlay,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:active div.overlay {
    opacity: 1;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:hover img,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:active img {
    width: 115%;
    height: 115%;
    margin-left: -0.4rem;
    margin-top: -0.15rem;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div a:link,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div a:visited {
    text-decoration: none;
    color: white;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div.revolveBtn {
    font-size: 5rem;
    text-shadow: none;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#slide-nav {
    margin-top: -5rem;
    padding: 0 30vw;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 3rem !important;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul li {
    border: 3px solid rgba(255, 255, 255, 0.25);
  }
}

@media only screen and (min-width: 993px) {
  section#alternatingBanner section#cinematography_youtubestyle div.filler {
    min-height: 0px;
  }
  section#alternatingBanner section#cinematography_youtubestyle video {
    background-color: black;
    height: 100vh;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 1 !important;
    background-color: black !important;
    background: none;
    display: none;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row {
    padding: 1rem 5vw 0.5rem 5vw;
    opacity: inherit;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder {
    width: 175px;
    height: 175px;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder div.overlay {
    width: 175px;
    height: 175px;
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    display: none;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder img {
    width: 175px;
    height: 175px;
    -webkit-transition: width 0.25s, height 0.25s, margin 0.25s;
    transition: width 0.25s, height 0.25s, margin 0.25s;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:hover div.overlay,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:active div.overlay {
    opacity: 1;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:hover img,
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div#thmbNail_holder_row div.imgHolder:active img {
    width: 115%;
    height: 115%;
    margin-left: -0.75rem;
    margin-top: -0.2rem;
  }
  section#alternatingBanner section#cinematography_youtubestyle div#thmbNail_holder div {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  section#alternatingBanner section#videography_2x2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 100vh !important;
  }
  section#alternatingBanner section#videography_2x2 div.filler {
    display: none;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder div.filter_dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder div.filter_dark h2 {
    margin: 0;
    color: white;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder video {
    height: 125%;
    width: 125%;
  }
  section#alternatingBanner section#videography_2x2 div.video_holder:hover div.filter_dark,
  section#alternatingBanner section#videography_2x2 div.video_holder:active div.filter_dark {
    opacity: 0;
  }
  section#alternatingBanner section#photography_carousel div.filler {
    display: none;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content {
    height: 100vh;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide div.filter_dark {
    width: 95vw;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide div.filter_dark h2 {
    font-size: 4rem;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#carousel_content div.img_slide img {
    height: 100%;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div.revolveBtn {
    font-size: 5rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#slide-nav {
    margin-top: -5rem;
    width: 99.1vw;
    padding: 0 40vw;
  }
  section#alternatingBanner section#photography_carousel div#carousel_holder div#slide-nav div.slide-dot {
    font-size: 3rem;
  }
  section#alternatingBanner section#audio_playlist div.filler {
    display: none;
  }
  section#alternatingBanner section#audio_playlist section#bannerView {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#audio_img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#audio_img img {
    width: 100%;
    height: 100vh;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong {
    width: 47.5vw;
    height: 90vh;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_label {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 0;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_controls {
    width: 47.5vw;
    margin: 1rem 0;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features div#currentSong div#currentSong_controls audio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 40vw;
    height: 100px;
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul {
    list-style: none;
    padding: 0 2rem;
    height: 100vh;
    padding-top: 12.5vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50vw;
    overflow-y: hidden;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  section#alternatingBanner section#audio_playlist section#bannerView div#features article#playList ul li {
    font-size: 2.25rem;
    padding: 0.5rem 0 0.5rem 2rem;
    margin: 1rem 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
/*# sourceMappingURL=customLandingBanner.css.map */