<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/scss/index.css">
  <script src="../JS/index.js" type="module" defer></script>
  <title>Document</title>
</head>
<body>
  <main>
    <div id="banner_holder">
      <img id="menuPageBanner" class="banner" src="../Images/Pokemon Cafe/banner pic3.png" alt="banner_pic">
    </div>
    <h1 id="menu_label">Menu Items</h1>
    <!-- <table>
      <tr>
        <th>Hellow</th>
        <th>My</th>
        <th>Name</th>
        <th>is</th>
        <th>Honest</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table> -->
    <!-- <div id="mainDisplay" class="main_stuff menu_page"></div> -->
</main>
</body>
</html>