@media screen and (min-width: 0px) {
  div.menu_page {
    /* height:2275px; */
    display: block;
  }

  div.PCW_MI_tabs > button.current-tab {
    text-decoration: underline rgb(245, 200, 92);
  }
  div.PCW_MI_tabs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px auto;
    text-align: center;
    margin-bottom: 0px;
  }

  div.PCW_MI_tabs > button {
    display: inline;
    margin: 0 5px;
    font-size: 2em;
    line-height: 2em;
    width: 225px;
    color: black;
    text-align: center;
    justify-content: center;
    background-color: rgb(213, 86, 69);
    border: 7.5px solid rgb(141, 56, 45);
    color: white;
    text-shadow: 2px 2px black;
  }

  div.PCW_MI_tabs > button:hover {
    background-color: rgb(141, 56, 45);
    border: 7.5px solid rgb(213, 86, 69);
  }

  div.cart {
    background-color: white;
    width: 940px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
    text-align: center;
    border: 2px solid rgb(100, 100, 100);
  }

  div.cart > p#purchases {
    text-align: center;
    grid-column: 2/5;
    grid-row: 2;
    line-height: 2em;
  }
  div.cart > h1#title_purchases {
    text-align: center;
    grid-column: 2/5;
    grid-row: 1;
    margin-bottom: 0;
    text-decoration: underline;
  }

  div.cart > p#quantities {
    text-align: center;
    grid-column: 6/8;
    grid-row: 2;
    line-height: 2em;
    margin-bottom: 0;
  }
  div.cart > h1#title_quantities {
    text-align: center;
    grid-column: 6/8;
    grid-row: 1;
    margin-bottom: 0;
    text-decoration: underline;
  }

  div.cart > p#prices {
    text-align: center;
    grid-column: 9/11;
    grid-row: 2;
    line-height: 2em;
    margin-bottom: 0;
  }
  div.cart > h1#title_prices {
    text-align: center;
    grid-column: 9/11;
    grid-row: 1;
    margin-bottom: 0;
    text-decoration: underline;
  }

  div.cart > p#quantities > p.quantityValue_number {
    margin: 0;
  }

  div.cart > h1#title_subtotalCost {
    grid-column: 7/9;
    grid-row: 3;
    text-align: end;
    font-size: 1.3em;
    margin-bottom: 0;
  }
  div.cart > p#subtotalCost {
    grid-column: 9/11;
    grid-row: 3;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 0;
  }
  div.cart > h1#title_salesTax {
    grid-column: 7/9;
    grid-row: 4;
    text-align: end;
    font-size: 1.3em;
    margin: 0;
  }
  div.cart > p#salesTax {
    grid-column: 9/11;
    grid-row: 4;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
  }
  div.cart > h1#title_grandTotal {
    grid-column: 7/9;
    grid-row: 5;
    text-align: end;
    font-size: 1.3em;
    margin: 0;
  }
  div.cart > p#grandTotal {
    grid-column: 9/11;
    grid-row: 5;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
    margin-bottom: 25px;
  }

  div.cart > div#cartButtons {
    display: block;
    grid-column: 1/-1;
  }

  div.cart > div#cartButtons > button {
    /* background-color: blue; */
    line-height: 2rem;
    padding: 0 2rem;
    font-size: 1.15rem;
    margin: 25px;
    background-color: rgb(213, 86, 69);
    border: 2px solid rgb(141, 56, 45);
    color: white;
    text-shadow: 2px 2px black;
  }
  /* menutItems */

  div.invisible {
    visibility: hidden;
    margin: 0;
    height: 0px;
  }

  div.main_stuff > div.gallery > div.item_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px 10px;
    row-gap: 25px;
    column-gap: 15px;
    position: absolute;
    visibility: hidden;
  }

  .offering {
    grid-row: 1/10;
    grid-column: 1/10;
    display: inline-block;
    width: 275px;
    border: 10px solid rgb(103, 182, 179);
    margin: 0 10px;
    margin-top: 15px;
  }
  .offering:hover {
    cursor: pointer;
    width: 295px;
    margin: 0;
    transition: 0.5s ease;
  }
  button.add_item {
    cursor: pointer;
  }

  div.main_stuff > div.gallery > div.showing {
    visibility: visible;
  }

  .showing {
    visibility: visible;
  }
  .showingText {
    transition: 0.5s ease;
    visibility: visible;
  }

  .null {
    visibility: hidden;
  }

  .itemCard {
    width: 315px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 39.375px);
    grid-template-rows: repeat(13, 1fr);
  }

  div.itemCard > p.price {
    grid-row: 10/11;
    grid-column: 2/5;
    justify-content: end;
    font-size: 1.5em;
    margin: 0;
  }
  div.itemCard > p.calories {
    grid-row: 10/11;
    grid-column: 6/9;
    justify-content: end;
    font-size: 1.5em;
    margin: 0;
  }

  input.purchases {
    grid-row: 11;
    grid-column: 5/8;
    font-size: 1.5em;
    text-align: center;
  }

  div.itemCard > p.item_text {
    grid-row: 11;
    grid-column: 2/4;
    font-size: 1.5em;
    margin: 0;
  }

  div.PCW_MI_tabs > button:hover {
    cursor: pointer;
  }

  div.itemCard > button.add_item {
    grid-row: 12/14;
    grid-column: 2/8;
    font-size: 1.1em;
    background-color: rgb(213, 86, 69);
    border: 4px solid rgb(141, 56, 45);
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  div.gallery {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  div.item_info > div.num1 {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }
  div.item_info > div.num2 {
    grid-column: 2;
    grid-row: 1;
    position: relative;
  }
  div.item_info > div.num3 {
    grid-column: 3;
    grid-row: 1;
    position: relative;
  }
  div.item_info > div.num4 {
    grid-column: 1;
    grid-row: 3;
    position: relative;
  }
  div.item_info > div.num5 {
    grid-column: 2;
    grid-row: 3;
    position: relative;
  }
  div.item_info > div.num6 {
    grid-column: 3;
    grid-row: 3;
    position: relative;
  }
  div.item_info > div.num7 {
    grid-column: 1;
    grid-row: 5;
    position: relative;
  }
  div.item_info > div.num8 {
    grid-column: 2;
    grid-row: 5;
    position: relative;
  }
  div.item_info > div.num9 {
    grid-column: 3;
    grid-row: 5;
    position: relative;
  }

  div.main_stuff > div.gallery > div.all_descriptions {
    color: black;
    text-shadow: 1px 1px white, -1px -1px white, 0px 3px rgb(255, 200, 75);
    font-size: 1.5em;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(24, 1fr);
    row-gap: 0px;
    width: 1080px;
    height: 1625px;
    transition: 0.5s ease;
  }

  div.drink_text,
  div.sweet_text,
  div.plate_text,
  div.entree_text {
    width: 500px;
    height: 240px;
    text-align: center;
    position: absolute;
    background-color: rgb(98, 216, 252);
    border: 20px solid rgb(90, 200, 252);
  }

  div.drink_text > p,
  div.sweet_text > p,
  div.plate_text > p,
  div.entree_text > p {
    padding: 20px 40px;
    margin: 0;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  div.drink_text > p > span.item_title,
  div.sweet_text > p > span.item_title,
  div.plate_text > p > span.item_title,
  div.entree_text > p > span.item_title {
    text-decoration: underline rgb(255, 200, 75);
  }

  div.centerItemText {
    width: 275px;
    height: 300px;
    padding: 30px 5px;
  }
  div.centerItemText > p {
    padding: 0px 5px;
  }

  div.all_descriptions > div.A1_text {
    grid-column: 8;
    grid-row: 2;
  }
  div.all_descriptions > div.A2_text {
    grid-column: 1;
    grid-row: 1;
  }
  div.all_descriptions > div.A3_text {
    grid-column: 2;
    grid-row: 2;
  }
  div.all_descriptions > div.B1_text {
    grid-column: 8;
    grid-row: 10;
  }
  div.all_descriptions > div.B2_text {
    grid-column: 12;
    grid-row: 9;
  }
  div.all_descriptions > div.B3_text {
    grid-column: 2;
    grid-row: 10;
  }
  div.all_descriptions > div.C1_text {
    grid-column: 8;
    grid-row: 18;
  }
  div.all_descriptions > div.C2_text {
    grid-column: 1;
    grid-row: 17;
  }
  div.all_descriptions > div.C3_text {
    grid-column: 2;
    grid-row: 18;
  }

  div#specialCase1 {
    margin: 0 auto;
    margin-top: 1650px;
    margin-bottom: 15px;
    text-align: center;
    width: 750px;
  }
}
@media screen and (min-width: 760px) {
}
@media screen and (min-width: 1200px) {
  div.menu_page {
    /* height:2275px; */
    display: block;
  }

  div.PCW_MI_tabs > button.current-tab {
    text-decoration: underline rgb(245, 200, 92);
  }
  div.PCW_MI_tabs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px auto;
    text-align: center;
    margin-bottom: 0px;
  }

  div.PCW_MI_tabs > button {
    display: inline;
    margin: 0 5px;
    font-size: 2em;
    line-height: 2em;
    width: 225px;
    color: black;
    text-align: center;
    justify-content: center;
    background-color: rgb(213, 86, 69);
    border: 7.5px solid rgb(141, 56, 45);
    color: white;
    text-shadow: 2px 2px black;
  }

  div.PCW_MI_tabs > button:hover {
    background-color: rgb(141, 56, 45);
    border: 7.5px solid rgb(213, 86, 69);
  }

  div.cart {
    background-color: white;
    width: 940px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
    text-align: center;
    border: 2px solid rgb(100, 100, 100);
  }

  div.cart > p#purchases {
    text-align: center;
    grid-column: 2/5;
    grid-row: 2;
    line-height: 2em;
  }
  div.cart > h1#title_purchases {
    text-align: center;
    grid-column: 2/5;
    grid-row: 1;
    margin-bottom: 0;
  }

  div.cart > p#quantities {
    text-align: center;
    grid-column: 6/8;
    grid-row: 2;
    line-height: 2em;
    margin-bottom: 0;
  }
  div.cart > h1#title_quantities {
    text-align: center;
    grid-column: 6/8;
    grid-row: 1;
    margin-bottom: 0;
  }

  div.cart > p#prices {
    text-align: center;
    grid-column: 9/11;
    grid-row: 2;
    line-height: 2em;
    margin-bottom: 0;
  }
  div.cart > h1#title_prices {
    text-align: center;
    grid-column: 9/11;
    grid-row: 1;
    margin-bottom: 0;
  }

  div.cart > p#quantities > p.quantityValue_number {
    margin: 0;
  }

  div.cart > h1#title_subtotalCost {
    grid-column: 7/9;
    grid-row: 3;
    text-align: end;
    font-size: 1.3em;
    margin-bottom: 0;
  }
  div.cart > p#subtotalCost {
    grid-column: 9/11;
    grid-row: 3;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 0;
  }
  div.cart > h1#title_salesTax {
    grid-column: 7/9;
    grid-row: 4;
    text-align: end;
    font-size: 1.3em;
    margin: 0;
  }
  div.cart > p#salesTax {
    grid-column: 9/11;
    grid-row: 4;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
  }
  div.cart > h1#title_grandTotal {
    grid-column: 7/9;
    grid-row: 5;
    text-align: end;
    font-size: 1.3em;
    margin: 0;
  }
  div.cart > p#grandTotal {
    grid-column: 9/11;
    grid-row: 5;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
    margin-bottom: 25px;
  }

  /* menutItems */

  div.invisible {
    visibility: hidden;
    margin: 0;
    height: 0px;
  }

  div.main_stuff > div.gallery > div.item_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px 10px;
    row-gap: 25px;
    column-gap: 15px;
    position: absolute;
    visibility: hidden;
  }

  .offering {
    grid-row: 1/10;
    grid-column: 1/10;
    display: inline-block;
    width: 275px;
    border: 10px solid rgb(103, 182, 179);
    margin: 0 10px;
    margin-top: 15px;
  }
  .offering:hover {
    cursor: pointer;
    width: 295px;
    margin: 0;
    transition: 0.5s ease;
  }
  button.add_item {
    cursor: pointer;
  }

  div.main_stuff > div.gallery > div.showing {
    visibility: visible;
  }

  .showing {
    visibility: visible;
  }
  .showingText {
    transition: 0.5s ease;
    visibility: visible;
  }

  .null {
    visibility: hidden;
  }

  .itemCard {
    width: 315px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 39.375px);
    grid-template-rows: repeat(13, 1fr);
  }

  div.itemCard > p.price {
    grid-row: 10/11;
    grid-column: 2/5;
    justify-content: end;
    font-size: 1.5em;
    margin: 0;
  }
  div.itemCard > p.calories {
    grid-row: 10/11;
    grid-column: 6/9;
    justify-content: end;
    font-size: 1.5em;
    margin: 0;
  }

  input.purchases {
    grid-row: 11;
    grid-column: 5/8;
    font-size: 1.5em;
    text-align: center;
  }

  div.itemCard > p.item_text {
    grid-row: 11;
    grid-column: 2/4;
    font-size: 1.5em;
    margin: 0;
  }

  div.PCW_MI_tabs > button:hover {
    cursor: pointer;
  }

  div.itemCard > button.add_item {
    grid-row: 12/14;
    grid-column: 2/8;
    font-size: 1.1em;
    background-color: rgb(213, 86, 69);
    border: 4px solid rgb(141, 56, 45);
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  div.gallery {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  div.item_info > div.num1 {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }
  div.item_info > div.num2 {
    grid-column: 2;
    grid-row: 1;
    position: relative;
  }
  div.item_info > div.num3 {
    grid-column: 3;
    grid-row: 1;
    position: relative;
  }
  div.item_info > div.num4 {
    grid-column: 1;
    grid-row: 3;
    position: relative;
  }
  div.item_info > div.num5 {
    grid-column: 2;
    grid-row: 3;
    position: relative;
  }
  div.item_info > div.num6 {
    grid-column: 3;
    grid-row: 3;
    position: relative;
  }
  div.item_info > div.num7 {
    grid-column: 1;
    grid-row: 5;
    position: relative;
  }
  div.item_info > div.num8 {
    grid-column: 2;
    grid-row: 5;
    position: relative;
  }
  div.item_info > div.num9 {
    grid-column: 3;
    grid-row: 5;
    position: relative;
  }

  div.main_stuff > div.gallery > div.all_descriptions {
    color: black;
    text-shadow: 1px 1px white, -1px -1px white, 0px 3px rgb(255, 200, 75);
    font-size: 1.5em;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(24, 1fr);
    row-gap: 0px;
    width: 1080px;
    height: 1625px;
    transition: 0.5s ease;
  }

  div.drink_text,
  div.sweet_text,
  div.plate_text,
  div.entree_text {
    width: 500px;
    height: 240px;
    text-align: center;
    position: absolute;
    background-color: rgb(98, 216, 252);
    border: 20px solid rgb(90, 200, 252);
  }

  div.drink_text > p,
  div.sweet_text > p,
  div.plate_text > p,
  div.entree_text > p {
    padding: 20px 40px;
    margin: 0;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  div.drink_text > p > span.item_title,
  div.sweet_text > p > span.item_title,
  div.plate_text > p > span.item_title,
  div.entree_text > p > span.item_title {
    text-decoration: underline rgb(255, 200, 75);
  }

  div.centerItemText {
    width: 275px;
    height: 300px;
    padding: 30px 5px;
  }
  div.centerItemText > p {
    padding: 0px 5px;
  }

  div.all_descriptions > div.A1_text {
    grid-column: 8;
    grid-row: 2;
  }
  div.all_descriptions > div.A2_text {
    grid-column: 1;
    grid-row: 1;
  }
  div.all_descriptions > div.A3_text {
    grid-column: 2;
    grid-row: 2;
  }
  div.all_descriptions > div.B1_text {
    grid-column: 8;
    grid-row: 10;
  }
  div.all_descriptions > div.B2_text {
    grid-column: 12;
    grid-row: 9;
  }
  div.all_descriptions > div.B3_text {
    grid-column: 2;
    grid-row: 10;
  }
  div.all_descriptions > div.C1_text {
    grid-column: 8;
    grid-row: 18;
  }
  div.all_descriptions > div.C2_text {
    grid-column: 1;
    grid-row: 17;
  }
  div.all_descriptions > div.C3_text {
    grid-column: 2;
    grid-row: 18;
  }

  div#specialCase1 {
    margin: 0 auto;
    margin-top: 1650px;
    margin-bottom: 15px;
    text-align: center;
    width: 750px;
  }
}

/*****************************Menu Items Page*********************************************/
