@media only screen and (min-width: 0px){
    html {
    body {
        div#mainContainer {
            
            section#hero {
                background-color:transparent;
                box-shadow: none !important;
                margin: 0rem auto 5rem auto;
                div.row {
                    display:flex;
                    flex-direction:column;
                    width: 80%;
                    margin:0 auto;
                    background-color: rgba(0,0,0,0.75);
                    box-shadow:5px 5px 25px black, -5px -5px 25px black;
                    padding: 1rem;
                    div.col#displayDescript {
                        // display:none;
                        h2 {
                            width: 100%;
                            text-align:center;
                            margin:1rem 0;
                            padding:0;
                            line-height:3rem;
                            display:none
                        }
                        p {
                            font-style: italic;
                            // display:none;
                        }
                    }
                }
            }
                         
            div#searchSeries{
                div#searchSeries_dropDown{
                left: 1rem;
                width:fit-content;
                button{
                    // background-color:red;
                    min-width: 10rem;
                    background-color:darkgreen;
                    color:white;
                } 
                button:hover{
                    cursor:pointer;
                    background-color:cyan !important;
                    color: rgb(50,50,50) !important;
                    font-weight:bolder;  
                    text-shadow:none; 
                    }
                div.dropdown-menu{
                    z-index: 2;
                    width: 87.5vw;
                    padding:0;
                    // left: inherit;
                    a{}
                    a:hover{
                        background-color:rgba(0,50,0,0.75)
                    }
                    a:active {
                        background-color:rgba(0,150,150,0.75)
                    }
                }
            }
                ul#searchSeries_list_main{
                    display:none;
                    li {
                    }
                }
            }
            div#previewStories{
                div#previewStories_series{
                    section.series{
                        background-color:transparent;
                        box-shadow:none;
                        h1 {
                            margin: 2rem inherit 2rem inherit;
                            margin-bottom: 2rem;
                        }
                        div.grid{
                            width: 100%;
                            margin: auto;
                            background-color: rgba(0,0,0,0.75);
                            box-shadow:5px 5px 25px black, -5px -5px 25px black;
                            display:grid;
                            grid-template-columns: 1fr 1fr;
                            grid-row-gap: 2rem;
                            padding: 3rem 0;
                           // grid-auto-rows: 7.5rem; 

                            article.book {
                                width: 7.5rem;
                                margin: 0 auto;
                                background-color:rgba(50,50,50,1);
                                box-shadow: 2px 2px 20px white;
                                border-radius: 15px;
                                overflow:hidden;
                                div.topHalf {
                                    width: 100%;
                                    div.storyOverlay {
                                        width: 7.5rem;
                                        height: 11rem;
                                        display:flex;
                                        opacity: 0;
                                        flex-direction:column;
                                        position: absolute;
                                        background-color: rgba(0,0,0,0.75);
                                        justify-content: center;
                                        align-items:center;
                                        z-index: 1;
                                        border-radius: 15px 15px 0 0;
                                        transition: opacity 0.5s;
                                      h3 {
                                        text-shadow: 3px 3px black;
                                        display:block;
                                        text-align:center;
                                        align-items:center;
                                        margin-top: 2.5rem;
                                          font-size: 1.25rem;
                                        }  
                                    }
                                    img {
                                        display:block;
                                        width: 100%;
                                        height: 11rem;
                                        justify-self:center;
                                        box-shadow: 2px 2px 10px black;
                                        z-index: 3;
            
                                    }
                                }
                                div.topHalf:hover > div.storyOverlay{
                                    opacity:1;
                                }
                                div.bottomHalf {
                                    padding-top: 1rem;
                                    p.btn {
                                        color:white;
                                        width: 75%;
                                        margin: 0.5rem auto 1rem auto;
                                        display:block;
                                        line-height: 2rem;
                                    }
                                }
                                div.rightHalf {
                                    display:none;
                                }
                            }
                            article.authorsThoughts{
                                display:none;
                            }
                        }
                    } 
                }
                section#previewStories_author{
                    // display:none;
                    transition: background-color 1s, color 1s, box-shadow 1s;
                    h2{}
                    p{
                        padding: 0 1rem;
                        img{
                            float:right;
                            width: 150px;
                            border-radius:10px;
                            box-shadow: 0 0 10px white;
                            margin: 1rem;
                        }
                    }
                }
            section#previewStories_author:hover, 
            section#previewStories_author:active    {
                    background-color:white;
                    color:black;
                    box-shadow: 0 0 25px white;
                }
                
            }
        }
    }
}
}
@media only screen and (min-width: 768px){
    html {
    height: 100vh;
    body {
        height: 500vh;
        div#mainContainer {
            
            section#hero {
                h1 {
                // border: 1px solid red;
                }
                div.row {
                    width: 75% !important;
                    display: flex !important;
                    flex-direction:row !important;
                    align-items:center;
                    div.col#displayDescript {
                     // display:none;
                    h2 {
                        width: 100%;
                        text-align:center;
                        margin:1rem 0 0 0 !important;
                        padding:0;
                        line-height:3rem;
                    }
                    p {
                        display:block !important;
                        padding: 0 1rem;
                    }

                 }
   
                }
            }
            div#searchSeries{
                div#searchSeries_dropDown{
                    display:none;
                    button{}
                    div.dropdown-item{
                        a{}
                    }
                }
                ul#searchSeries_list_main{
                    display:flex;
                    flex-wrap:wrap;
                    list-style:none;
                    width: 80%;
                    margin: 0 auto;
                    justify-content:space-around;
                    padding:0;
                    li{
                        background-color: rgba(0,0,0,0.75);
                        padding: 0.5rem 2rem;
                        border-radius: 10px;
                        box-shadow: 0 0 15px black;
                        transition: background-color 0.5s, box-shadow 0.5s, color 0.5s, font-weight 0.5s;
                    }
                    li:hover,
                    li:active {
                       background-color:white;
                        color:black;
                        font-weight: bolder;
                        box-shadow: 0 0 15px white;
                    }
                }
            }
            div#previewStories{
                div#previewStories_series{
                    section.series{
                        h1 {
                        }

                        div.grid{
                            // display:grid;
                            grid-template-columns: 1fr;
                            grid-row-gap: 2rem;
                           // grid-auto-rows: 7.5rem; 

                            article.book {
                                background-color:rgba(0,0,0,0);
                                box-shadow: none;
                                display:flex;
                                justify-content: space-between;
                                width: 600px;
                                div.topHalf {
                                    width: 10rem;
                                    height: 15rem;
                                    // border: 5px solid red;
                                    overflow:hidden;
                                    // justify-:center;
                                    box-shadow: 2px 2px 20px white;
                                    div.storyOverlay {
                                        // display:none;
                                        width: 10rem;
                                        height: 15rem;
                                        h3 {
                                            display:none;
                                            font-size: rem;
                                        }
                                        p {
                                            display:none;
                                            margin: 0.75rem 0;
                                        }
                                        p.btn {
                                            display:block;
                                            width: 80%;
                                        }

                                    }
                                    img {
                                        width: 10rem;
                                        height: 15rem;
                                    }


                                }
                                div.topHalf:hover > div.storyOverlay{
                                    // opacity: 0;
                                    // display: none;
                                }
                                div.bottomHalf {
                                    display:none;
                                    background-color:red;
                                    width: 60%;
                                    padding-top: 1rem;
                                    p {
                                    }
                                    p:hover {
                                    }
                                }
                                div.rightHalf {
                                    display:block;
                                    // background-color:blue;
                                    width: 25rem;
                                    h3 {
                                       margin: 0; 
                                    }
                                    p {
                                        margin: 1rem 0;
                                    }
                                    p.date {
                                        margin: 0;
                                    }
                                    div.btnHolder {
                                        width: 97.5%;
                                        // height: 10%;
                                        display:grid;
                                        grid-template-columns: 1fr 1fr;
                                        grid-template-rows: 1fr 1fr;
                                        justify-content:space-between;
                                        p {
                                            width: 90%;
                                            font-size: 0.9rem;
                                            justify-self:start;
                                        }
                                        p:nth-of-type(3){
                                            margin:0;
                                            height:fit-content;
                                            // margin-bottom: 5rem;
                                            grid-column: 1/3;
                                            grid-row: 2;
                                            width: 95%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                section#previewStories_author{}
            }
  
            }
        }
    }
}
@media only screen and (min-width: 992px){
    html {
    height: 100vh;
    body {
        div#mainContainer {
            
            /*GENERIC*/         
      
            section#hero {
                div.row {
                    display:flex;
                    flex-direction:column;
                    width: 90%;
                    margin:0 auto;
                    transition: background-color 1s, color 1s, box-shadow 1s;
                    border-radius: 5px;
                }
                div.row.onlyMax:hover{
                    background-color:white;
                    color:black;
                    box-shadow:5px 5px 25px white, -5px -5px 25px white;
                    div.col#displayDescript {
                        div.btn {
                            opacity: 0.5;
                        }
                    }
                }
            }
            div#searchSeries{
                div#searchSeries_dropDown{
                    button{}
                    div.dropdown-item{
                        a{}
                    }
                }
                ul#searchSeries_list_main{
                    li{}
                }
            }
            div#previewStories{
                div#previewStories_series{
                    section.series{
                        // width:80%;
                        h1 {
                        }
                        div.grid{
                            width: 90%;
                            grid-row-gap: 0rem;
        
                            article.book {
                                width: 90%;
                                align-items:center;
                                // padding: 0 5vw;
                                div.topHalf {
                                    width: fit-content;
                                    // margin-left: 40px;
                                }
                                div.bottomHalf {
                                    padding-top: 1rem;
                                    p {
                                    }
                                    p:hover {
                                    }
                                }
                                div.rightHalf {
                                    display:block;
                                    width: 65%;
                                    h3 {
                                        font-size: 2.75rem;
                                        margin: 0; 
                                    }
                                    p.date{
                                        margin:0;
                                    }
                                    p {
                                        margin: 1rem 0;
                                    }
                                    div.btnHolder {
                                        justify-content:space-between;
                                        p {
                                            // width: 8rem;
                                        }
                                    }
                                }
                            }
                        }
        
                    }
                }
                section#previewStories_author{}
            }
            
        }
    }
}
}
@media only screen and (min-width: 1200px){
    div#holder1 {
    width: 80%;
    margin: 0 auto;
    display:flex;
    div#holder2{
        // width:fit-content !important;
        section.series{
            width:90% !important; 
            margin: 0  0 0 0 !important;
            background-color:none !important;
            position: relative;
            h1 {
            }
            div.grid{
                margin: 0 auto;
                width: 100% !important;
                display: column1;
                margin:0 auto 0 0 !important;
                justify-content:space-between

                article.book {
                    grid-column: 1;
                    // width: 100% !important;
                    align-items:center;
                    justify-content: space-evenly !important;
                    // padding: 0 5vw;
                    div.topHalf {
                        width: fit-content;
                        // margin-left: 40px;
                    }
                    div.bottomHalf {
                        padding-top: 1rem;
                        p {
                        }
                        p:hover {
                        }
                    }
                    div.rightHalf {
                        display:block;
                        width: 75% !important;
                        h3 {
                            font-size: 2.75rem;
                            margin: 0; 
                        }
                        p {
                            margin: 1rem 0;
                        }
                        div.btnHolder {
                            width: 80%;
                            display:flex;
                            justify-content:space-between;
                            p {
                                // width: 8rem;
                            }
                        }
                    }
                }
                article.authorsThoughts{
                    display:block !important;
                    width: 100% !important;
                    padding:0.5rem;
                    background-color:rgba(255,255,255);
                    color:black;
                    h3{

                    }
                }
                hr{
                    grid-column:1/3;
                }

            }
        }
    }
    section#author{
        width: 50%;
        height: 35rem;
        position:sticky;
        margin-top:7.5rem;
        top:20%;
        border-radius: 10px;
        h2 {
            margin-left: 1rem;
            font-size: 1.5rem;
        }
        p {
            margin-left: 1rem;
            clear: both;
            img {
            float:right;
            width: 11vw;
            height: 15vw;
            margin: 0.5rem;
            }
        }

    }   
}
}