@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 0px) {
  body {
    height: 1500vh;
    margin: 0;
    padding: 0;
  }
  body main {
    height: 100%;
  }
  body main h1.navTarget {
    opacity: 0;
    margin: 0rem 0 0 0;
    height: 0;
    padding: 0;
  }
  body main section#introBanner {
    margin: 5rem auto 0 auto;
    position: relative;
  }
  body main section#introBanner h1#landingTitle {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 5rem;
    position: absolute;
    left: 27.5%;
  }
  body main section#introBanner div#scrollEffect_intro {
    position: relative;
    height: 400vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body main section#introBanner div#scrollEffect_intro div#bannerImg {
    width: 100%;
    height: 120vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  body main section#introBanner div#scrollEffect_intro div#bannerImg img {
    height: 120vh;
  }
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content {
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200vh;
    top: -20vh;
    position: relative;
  }
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left,
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 47.5%;
    height: 100%;
    z-index: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left h1,
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1 {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    font-weight: 400 !important;
    margin-top: -2.5rem;
  }
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: relative;
  }
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    top: 50vh;
    right: 0;
  }
  body main section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1:nth-child(even) {
    visibility: hidden;
  }
  body main section#introBanner h1#scrollEffect_end {
    position: absolute;
    bottom: 50vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
  }
  body main section#cinematography_scrollPlay {
    opacity: 0;
    width: 100%;
    height: 600vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: opacity 2.5s;
    transition: opacity 2.5s;
    background-color: white !important;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo {
    width: 100%;
    height: 100vh;
    margin: 100vh auto 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo div.overlay {
    width: 100%;
    height: 0%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo div.overlay div.textContent {
    position: absolute;
    bottom: 0vh;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo div.overlay div.textContent h1 {
    z-index: 2;
    color: red;
    margin: 0;
    font-size: 3rem;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo div.overlay div.textContent p {
    text-align: center;
    display: block;
    width: 50vw;
    margin: 0 auto;
    color: red;
    font-size: 1.25rem;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo video {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    width: 500%;
  }
  body main section#cinematography_scrollPlay article.cinematography_singleVideo:nth-child(1) {
    margin-top: 0;
  }
  body main section#cinematography_scrollPlay article#fillerCinema {
    height: 0 !important;
  }
  body main section#photography_smallSliders {
    height: 400vh;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background-color: black;
  }
  body main section#photography_smallSliders div#photo_contentHolder {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding-top: 0rem;
    overflow: hidden;
    position: relative;
    -webkit-transition: padding 0.75s;
    transition: padding 0.75s;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel {
    margin: 0 auto !important;
    width: 100%;
    height: 90vh;
    position: relative;
    -webkit-transition: width 0.75s, height 0.75s;
    transition: width 0.75s, height 0.75s;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide div.imgHolder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: width 0.75s, height 0.75s;
    transition: width 0.75s, height 0.75s;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide div.imgHolder div.overlayText {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
    color: white;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide div.imgHolder img {
    width: 200%;
    height: 100%;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#nextBtn,
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#prevBtn {
    cursor: pointer;
    background: transparent;
    padding: 10px;
    border: none;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#nextBtn i,
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#prevBtn i {
    font-size: 30px;
    color: #000936;
    -webkit-text-stroke: 2.5px white;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#prevBtn:focus,
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#nextBtn:focus {
    outline: none;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect {
    padding-top: 1.5rem;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel {
    width: 80% !important;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel div#slideHolder div.slide div.imgHolder {
    width: 95%;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel div#slideHolder div.slide div.imgHolder div.overlayText {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel div#slideHolder div.slide div.imgHolder div.overlayText h4 {
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    -webkit-text-stroke: 0.25px #000936;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel div#slideHolder div.slide div.imgHolder img {
    width: 300% !important;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.slideControls {
    opacity: 1;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.slideControls button#prevBtn:focus,
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.slideControls button#nextBtn:focus {
    outline: none;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partB {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow-x: hidden;
    margin: 1rem 0;
    opacity: 0;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder {
    height: 100%;
    width: 50vw;
    background-color: black;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder img {
    width: 100%;
    height: 100%;
  }
  body main section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder:hover {
    opacity: 0.75;
  }
  body main section#photography_smallSliders div#photo_contentHolder div#photoSection_descript p {
    color: white;
  }
  body main h1#audio_navTarget {
    background-color: white !important;
    opacity: 1;
    margin: 0;
    padding-top: 10rem;
  }
  body main section#audioSection_playList_neo {
    width: 100%;
    height: 225vh;
    background-color: white;
    position: relative;
  }
  body main section#audioSection_playList_neo div#audio_backgroundImg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
  }
  body main section#audioSection_playList_neo div#audio_backgroundImg div#audio_backgroundImg_filter {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
  }
  body main section#audioSection_playList_neo div#audio_backgroundImg img {
    width: 300%;
    height: 100%;
  }
  body main section#audioSection_playList_neo article#audio_info {
    width: 100%;
    height: 50vh;
    margin-top: 75vh;
    position: absolute;
    top: 0vh;
    z-index: 2;
    -webkit-transition: height 1s ease, opacity 2 ease;
    transition: height 1s ease, opacity 2 ease;
    overflow: hidden;
  }
  body main section#audioSection_playList_neo article#audio_info div#audio_info_holder {
    height: 100%;
    width: 90vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  body main section#audioSection_playList_neo article#audio_info div#audio_info_holder div#currentSong_controls {
    display: none;
  }
  body main section#audioSection_playList_neo article#audio_info.open {
    height: 50vh;
    opacity: 1;
  }
  body main section#audioSection_playList_neo article#audio_playList {
    width: 100%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 200vh;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    opacity: 0;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  body main section#audioSection_playList_neo article#audio_playList div#audio_playList_coverPhoto {
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section#audioSection_playList_neo article#audio_playList div#audio_playList_coverPhoto img {
    width: 200%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body main section#audioSection_playList_neo article#audio_playList ul {
    width: 90vw;
    margin: 0 auto;
    list-style: none;
  }
  body main section#audioSection_playList_neo article#audio_playList ul li.playList_song {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 7.5px;
  }
  body main section#audioSection_playList_neo article#audio_playList ul li.playList_song.playList_current {
    padding: 0;
  }
  body main section#audioSection_playList_neo article#audio_playList ul li.playList_song.playList_current i {
    padding: 0 0.315rem;
  }
  body main section#animationSection_youtubestyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
    z-index: 2;
    background-color: white;
    height: 275vh;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 5rem;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: 25rem;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani div#textOverlay_ani {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani div#textOverlay_ani div#textOverlay_text {
    width: 100%;
    margin: auto;
    padding: 1rem;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani div#textOverlay_ani div#textOverlay_text h1 {
    width: 100%;
    text-align: center;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani video {
    width: 200%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani video source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani.showOverlay div#textOverlay_ani {
    opacity: 1;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
    z-index: 2;
    cursor: pointer;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 0rem 0 0rem 0;
    background-color: none;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani {
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani div.overlay {
    width: 25vw;
    height: 25vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding: 0;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani img {
    width: 25vw;
    height: 25vw;
    -webkit-transition: width 0.25s, height 0.25s, margin 0.25s;
    transition: width 0.25s, height 0.25s, margin 0.25s;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:hover div.overlay,
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:active div.overlay {
    opacity: 1;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:hover img,
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:active img {
    width: 115%;
    height: 115%;
    margin-left: -0.4rem;
    margin-top: -0.15rem;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div a:link,
  body main section#animationSection_youtubestyle div#animation_stickyContent div#thmbNail_holder_ani div a:visited {
    text-decoration: none;
    color: black;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#overlayBtn {
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;
    color: white;
    background-color: #000936;
  }
  body main section#animationSection_youtubestyle div#animation_stickyContent div#overlayBtn:hover,
  body main section#animationSection_youtubestyle div#animation_stickyContent div#overlayBtn:active {
    background-color: #969696;
    color: #000936;
  }
}

@media only screen and (min-width: 768px) {
  body section#introBanner {
    margin: 5rem auto 0 auto;
    position: relative;
  }
  body section#introBanner h1#landingTitle {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 5rem;
    position: absolute;
    left: 27.5%;
  }
  body section#introBanner div#scrollEffect_intro {
    position: relative;
    height: 400vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body section#introBanner div#scrollEffect_intro div#bannerImg {
    width: 100%;
    height: 120vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  body section#introBanner div#scrollEffect_intro div#bannerImg img {
    width: 100%;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200vh;
    top: -20vh;
    position: relative;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left,
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 47.5%;
    height: 100%;
    z-index: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left h1,
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1 {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4rem !important;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: relative;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    top: 50vh;
    right: 0;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1:nth-child(even) {
    visibility: hidden;
  }
  body section#introBanner h1#scrollEffect_end {
    position: absolute;
    bottom: 50vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: red;
  }
  body section#photography_smallSliders {
    height: 600vh;
  }
  body section#photography_smallSliders div#photo_contentHolder {
    top: 7.5rem;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel {
    width: 100%;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide div.imgHolder div.overlayText h4 {
    font-size: 4rem !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide div.imgHolder img {
    height: 100%;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#prevBtn i,
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#nextBtn i {
    font-size: 4rem !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#prevBtn:focus,
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.slideControls button#nextBtn:focus {
    outline: none;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel div#slideHolder div.slide div.imgHolder {
    width: 95%;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.carousel div#slideHolder div.slide div.imgHolder div.overlayText {
    width: 100%;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.slideControls button#prevBtn:focus,
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA.pseudoScrollEffect div.slideControls button#nextBtn:focus {
    outline: none;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB {
    width: 100%;
    margin: 2rem 0;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide {
    -webkit-animation-duration: 40s !important;
            animation-duration: 40s !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder {
    width: 45vw !important;
    background-color: black;
    overflow: hidden;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder img {
    width: 100%;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder:hover {
    z-index: 2;
    opacity: 0.5;
  }
  body section#audioSection_playList_neo article#audio_playList div#audio_playList_coverPhoto {
    width: 37.5vw !important;
    height: 37.5vw !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent {
    top: 7.5rem !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani {
    height: 30rem;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row {
    padding: 1rem 0 0rem 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder {
    width: 125px;
    height: 125px;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder div.overlay {
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding: 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder img {
    width: 125px;
    height: 125px;
    -webkit-transition: width 0.25s, height 0.25s, margin 0.25s;
    transition: width 0.25s, height 0.25s, margin 0.25s;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder:hover div.overlay,
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder:active div.overlay {
    opacity: 1;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder:hover img,
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder:active img {
    width: 115%;
    height: 115%;
    margin-left: -0.4rem;
    margin-top: -0.15rem;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div a:link,
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div a:visited {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (min-width: 993px) {
  body section#introBanner {
    margin: 5rem auto 0 auto;
    position: relative;
  }
  body section#introBanner h1#landingTitle {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 5rem;
    position: absolute;
    left: 27.5%;
  }
  body section#introBanner div#scrollEffect_intro {
    position: relative;
    height: 400vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body section#introBanner div#scrollEffect_intro div#bannerImg {
    width: 100%;
    height: 120vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  body section#introBanner div#scrollEffect_intro div#bannerImg img {
    height: 120vh;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200vh;
    top: -20vh;
    position: relative;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left,
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 47.5%;
    height: 100%;
    z-index: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left h1,
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1 {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: relative;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    top: 50vh;
    right: 0;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1:nth-child(even) {
    visibility: hidden;
  }
  body section#introBanner h1#scrollEffect_end {
    position: absolute;
    bottom: 50vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: red;
  }
  body section#videography_stagger {
    top: 7.5vh !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div.filler {
    display: none;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content {
    height: 100vh !important;
    max-height: 100vh !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content div.img_slide div.filter_dark {
    height: 100vh !important;
    width: 95vw;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content div.img_slide div.filter_dark h2 {
    font-size: 4rem;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content div.img_slide img {
    width: 100vw !important;
    height: 100%;
    margin: 0;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content div.currentImg {
    width: 100vw !important;
    margin: 0 !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content.pseudoScrollEffect {
    height: 77.5vh !important;
    padding: 0 7.5vw;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content.pseudoScrollEffect div.img_slide {
    width: 80vw !important;
    margin: 0 2.5vw !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#carousel_content.pseudoScrollEffect div.img_slide div.filter_dark {
    height: 77.5vh !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div.revolveBtn {
    font-size: 5rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#slide-nav {
    margin-top: -5rem;
    width: 99.1vw;
    padding: 0 40vw !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA section#photography_carousel div#carousel_holder div#slide-nav div.slide-dot {
    font-size: 3rem;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide {
    -webkit-animation-duration: 10s !important;
            animation-duration: 10s !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    margin: .5rem 0;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder {
    width: 22.5vw !important;
    background-color: black;
    overflow: hidden;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder img {
    width: 100%;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partB article.autoSlide div.imgHolder:hover {
    z-index: 2;
    opacity: 0.5;
  }
  @-webkit-keyframes autoSlide_action {
    0% {
      margin-left: 0vw;
    }
    100% {
      margin-left: -52.5vw;
    }
  }
  @keyframes autoSlide_action {
    0% {
      margin-left: 0vw;
    }
    100% {
      margin-left: -52.5vw;
    }
  }
  body section#photography_smallSliders div#photo_contentHolder article.autoSlide:nth-child(2) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  body section#photography_smallSliders div#photo_contentHolder article.autoSlide:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  body section#audioSection_playList_neo article#audio_playList {
    height: 200vh;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body section#audioSection_playList_neo article#audio_playList div#audio_playList_coverPhoto {
    width: 30vw !important;
    height: 30vw !important;
    margin: 0 !important;
  }
  body section#audioSection_playList_neo article#audio_playList ul {
    width: 40vw !important;
    height: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 !important;
  }
  body section#audioSection_playList_neo article#audio_playList ul li.playList_song {
    margin: 0;
  }
  body section#animationSection_youtubestyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent {
    width: 100%;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani div#textOverlay_ani {
    opacity: 1 !important;
    width: 50% !important;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: black  !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani div#textOverlay_ani div#textOverlay_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani video {
    width: 50% !important;
  }
  body section#animationSection_youtubestyle div#overlayBtn {
    display: none;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani {
    width: 25% !important;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani div.overlay {
    width: 100% !important;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:hover div.overlay,
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:active div.overlay {
    opacity: 1;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:hover img,
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder_ani:active img {
    width: 115%;
    height: 115%;
    margin-left: -0.8rem !important;
    margin-top: -0.18rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  body section#introBanner div#scrollEffect_intro div#bannerImg {
    top: 5rem;
  }
  body section#introBanner div#scrollEffect_intro div#bannerImg img {
    height: 120vh;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200vh;
    top: -20vh;
    position: relative;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left,
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 47.5%;
    height: 100%;
    z-index: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left h1,
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1 {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 6rem !important;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: relative;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right {
    top: 50vh;
    right: 0;
  }
  body section#introBanner div#scrollEffect_intro div#scrollEffect_content div#bannerText_right h1:nth-child(even) {
    visibility: hidden;
  }
  body section#introBanner h1#scrollEffect_end {
    position: absolute;
    bottom: 50vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: red;
  }
  body section#cinematography_scrollPlay {
    height: 800vh !important;
  }
  body section#cinematography_scrollPlay article.cinematography_singleVideo {
    height: 125vh !important;
  }
  body section#cinematography_scrollPlay article.cinematography_singleVideo div.overlay div.textContent {
    bottom: 80vh !important;
  }
  body section#videography_stagger {
    height: 95vh !important;
  }
  body section#videography_stagger div#videography_videoHolder {
    height: 95vh !important;
  }
  body section#videography_stagger div#videography_videoHolder div.singleVideo_area div.singleVideo_holder {
    height: initial !important;
  }
  body section#videography_stagger div#videography_videoHolder div.singleVideo_area div.singleVideo_holder video {
    width: 100% !important;
  }
  body section#photography_smallSliders div#photo_contentHolder {
    top: 5rem;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel {
    height: 87.5vh !important;
  }
  body section#photography_smallSliders div#photo_contentHolder section#photo_partA div.carousel div#slideHolder div.slide div.imgHolder img {
    height: 200% !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent {
    top: 5rem !important;
  }
  body section#animationSection_youtubestyle div#animation_stickyContent div#videoHolder_ani {
    height: 30rem;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row {
    padding: 1rem 0 0.5rem 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder {
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder div.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding: 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div#thmbNail_holder_row div.imgHolder img {
    -webkit-transition: width 0.25s, height 0.25s, margin 0.25s;
    transition: width 0.25s, height 0.25s, margin 0.25s;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0;
  }
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div a:link,
  body section#animationSection_youtubestyle div#thmbNail_holder_ani div a:visited {
    text-decoration: none;
    color: white;
  }
}
/*# sourceMappingURL=landingPage.css.map */